Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

chore: bump version to v2.6.11
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): patch transitive prod advisories and decouple audit from test job
  .github/dependabot.yml
  .github/workflows/ai-executor-integration.md
  .github/workflows/esm-module-validation.md
  .github/workflows/lint.yml
  .github/workflows/mcp-server-validation.md
  .github/workflows/security-scanning.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  tests/__mocks__/@tree-sitter-grammars/tree-sitter-hcl.ts
  tests/__mocks__/child_process.ts
  tests/__mocks__/tree-sitter-bash.ts
  tests/__mocks__/tree-sitter-dockerfile.ts
  tests/__mocks__/tree-sitter-javascript.ts
  tests/__mocks__/tree-sitter-json.ts
  tests/__mocks__/tree-sitter-python.ts
  tests/__mocks__/tree-sitter-typescript.ts
  tests/__mocks__/tree-sitter-yaml.ts
  tests/__mocks__/tree-sitter.ts
  tests/performance/memory-performance.test.ts
  tests/setup.ts
  tests/tools/perform-research-tool.test.ts.backup
  tests/utils/advanced-prompting-test-utils.ts
Due: npm-audit, eslint-check, test-suite, build-check

fix(ci): patch transitive prod advisories and decouple audit from test job (#1317)
  .github/dependabot.yml
  .github/workflows/ai-executor-integration.md
  .github/workflows/esm-module-validation.md
  .github/workflows/lint.yml
  .github/workflows/mcp-server-validation.md
  .github/workflows/security-scanning.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  tests/__mocks__/@tree-sitter-grammars/tree-sitter-hcl.ts
  tests/__mocks__/child_process.ts
  tests/__mocks__/tree-sitter-bash.ts
  tests/__mocks__/tree-sitter-dockerfile.ts
  tests/__mocks__/tree-sitter-javascript.ts
  tests/__mocks__/tree-sitter-json.ts
  tests/__mocks__/tree-sitter-python.ts
  tests/__mocks__/tree-sitter-typescript.ts
  tests/__mocks__/tree-sitter-yaml.ts
  tests/__mocks__/tree-sitter.ts
  tests/performance/memory-performance.test.ts
  tests/setup.ts
  tests/tools/perform-research-tool.test.ts.backup
  tests/utils/advanced-prompting-test-utils.ts
Due: npm-audit, eslint-check, test-suite, build-check

docs(changelog): promote Unreleased to [2.6.11]
  CHANGELOG.md
Due: none

chore: bump version to v2.6.12
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): make auto-release the single owner of releases
  .github/AUTO-RELEASE-GUIDE.md
  .github/auto-release.config.json
  .github/copilot-instructions.md
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: build-check

fix(ci): make auto-release the single owner of releases (#1340)
  .github/AUTO-RELEASE-GUIDE.md
  .github/auto-release.config.json
  .github/copilot-instructions.md
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: build-check

fix(ci): give actions/checkout the same token as create-pull-request
  .github/workflows/auto-release-on-merge.yml
Due: none

fix(ci): give actions/checkout the same token as create-pull-request (#1346)
  .github/workflows/auto-release-on-merge.yml
Due: none

fix(ci): revert checkout to GITHUB_TOKEN — RELEASE_TOKEN is being rejected
  .github/workflows/auto-release-on-merge.yml
Due: none

chore: bump version to v2.6.12 (#1348)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.13
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.13 (#1351)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): revert gh-aw setup pin in compiled lock files, ignore in dependabot
  .github/dependabot.yml
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-tool-checker.lock.yml
Due: none

chore: bump version to v2.6.14
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.14 (#1354)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(governance): declare acceptance criteria for v3.0 work
  .repo-governor/acceptance/1409.json
  .repo-governor/acceptance/1410.json
  .repo-governor/acceptance/1411.json
  .repo-governor/acceptance/1412.json
  .repo-governor/acceptance/1413.json
  .repo-governor/acceptance/1416.json
  .repo-governor/decisions/decisions.jsonl
Due: build-check

fix(ci): recompile gh-aw workflows on v0.86.2, stop the issue flood
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-executor-integration.md
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-tool-checker.lock.yml
Due: build-check

chore(governance): split #1410's uncovered half into #1417
  .repo-governor/acceptance/1410.json
  .repo-governor/acceptance/1417.json
Due: build-check

fix(ci): recompile gh-aw workflows on v0.86.2, stop the issue flood (#1420)
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-executor-integration.md
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-tool-checker.lock.yml
  .repo-governor/acceptance/1409.json
  .repo-governor/acceptance/1410.json
  .repo-governor/acceptance/1411.json
  .repo-governor/acceptance/1412.json
  .repo-governor/acceptance/1413.json
  .repo-governor/acceptance/1416.json
  .repo-governor/acceptance/1417.json
  .repo-governor/decisions/decisions.jsonl
Due: build-check

chore: bump version to v2.6.15
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.15 (#1425)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): enforce a real coverage floor, correct the docs that claimed one
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  README.md
  vitest.config.ts
Due: eslint-check, test-suite, build-check

fix(ci): set the lines threshold from the CI measurement, not the local one
  CONTRIBUTING.md
  vitest.config.ts
Due: eslint-check, test-suite, build-check

fix(ci): upload coverage before the build deletes it
  .github/workflows/test.yml
Due: none

fix(ci): pass CODECOV_TOKEN — tokenless upload is refused on protected branches
  .github/workflows/test.yml
Due: none

fix(ci): pass an explicit slug to Codecov
  .github/workflows/test.yml
Due: none

fix(ci): enforce a real coverage floor, correct the docs that claimed one (#1433)
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  README.md
  vitest.config.ts
Due: eslint-check, test-suite, build-check
