Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

chore: bump version to v2.7.16 (#1518)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: retire src/utils/monitoring.ts — 725 lines, zero callers, never wired
  src/utils/monitoring.ts
  tests/utils/monitoring-smoke.test.ts
  tests/utils/monitoring.test.ts
Due: eslint-check, test-suite, build-check

chore: retire src/utils/monitoring.ts — 725 lines, zero callers, never wired (#1520)
  src/utils/monitoring.ts
  tests/utils/monitoring-smoke.test.ts
  tests/utils/monitoring.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.17
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.17 (#1521)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: the monitoring.ts doc fixes #1520 described were never in the commit
  docs/adrs/adr-023-tool-surface-scope.md
  docs/how-to-guides/performance-testing.md
Due: none

fix(ci): build before running tests in publish.yml — 22 releases have not shipped
  .github/workflows/publish.yml
Due: none

docs: the monitoring.ts doc fixes #1520 described were never in the commit (#1523)
  docs/adrs/adr-023-tool-surface-scope.md
  docs/how-to-guides/performance-testing.md
Due: none

fix(ci): build before running tests in publish.yml — 22 releases have not shipped (#1524)
  .github/workflows/publish.yml
Due: none

chore: bump version to v2.7.18
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.18 (#1525)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(research): perform_research wrote where it never said, and cited no ADRs
  docs/research/README.md
  src/index.ts
  src/tools/perform-research-tool.ts
  src/utils/context-document-manager.ts
  src/utils/research-orchestrator.ts
Due: eslint-check, test-suite, build-check

fix(research): "Always include ADRs" never included one
  src/tools/perform-research-tool.ts
  src/utils/context-document-manager.ts
  src/utils/research-orchestrator.ts
  tests/tools/perform-research-output.test.ts
  tests/tools/perform-research-tool.test.ts
  tests/utils/context-document-manager.test.ts
Due: eslint-check, test-suite, build-check

fix(research): perform_research wrote where it never said, and cited no ADRs (#1529)
  docs/research/README.md
  src/index.ts
  src/tools/perform-research-tool.ts
  src/utils/context-document-manager.ts
  src/utils/research-orchestrator.ts
  tests/tools/perform-research-output.test.ts
  tests/tools/perform-research-tool.test.ts
  tests/utils/context-document-manager.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.19
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.19 (#1535)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(adr-023): retirement admissions route to Cleanup, not CE-MCP
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

docs(adr-023): retirement admissions route to Cleanup, not CE-MCP (#1543)
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

chore: bump version to v2.7.20
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.20 (#1544)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(bootstrap): stop handing agents `kubectl delete` scoped to a guess
  src/index.ts
  src/tools/bootstrap-validation-loop-tool.ts
  tests/tools/bootstrap-validation-loop-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(cache): bound the resource cache Map on write, drop the dead timer API
  src/resources/resource-cache.ts
  tests/resources/resource-cache.test.ts
Due: eslint-check, test-suite, build-check

fix(adr): validate_all_adrs derives its verdict instead of asserting one
  src/tools/adr-validation-tool.ts
  src/utils/knowledge-graph-manager.ts
  tests/tools/adr-validation-summary.test.ts
Due: eslint-check, test-suite, build-check

fix(bootstrap): stop handing agents `kubectl delete` scoped to a guess (#1545)
  src/index.ts
  src/tools/bootstrap-validation-loop-tool.ts
  tests/tools/bootstrap-validation-loop-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(cache): bound the resource cache Map on write, drop the dead timer API (#1546)
  src/resources/resource-cache.ts
  tests/resources/resource-cache.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.21
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.21 (#1549)
  package-lock.json
  package.json
Due: npm-audit, build-check
