Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore: release v2.1.0
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: Clean up research directory broken links
  docs/research/README.md
Due: none

fix: Update memory-loading-tool tests to match actual ADR discovery behavior
  tests/tools/memory-loading-tool.test.ts
Due: eslint-check, test-suite, build-check

fix: Update README.md links to point to existing documentation files
  README.md
Due: none

feat: Complete Phase 1 documentation improvements
  docs/DOCUMENTATION_IMPROVEMENT_PLAN.md
  docs/explanation/architecture-overview.md
  docs/explanation/index.md
  docs/how-to-guides/installation-guide.md
  docs/how-to-guides/prompting-guide.md
  docs/how-to-guides/testing-guide.md
  docs/how-to-guides/troubleshooting.md
  docs/how-to/deploy-to-production.md
  docs/how-to/index.md
  docs/index.md
  docs/reference/api-documentation.md
  docs/reference/api-reference.md
  docs/reference/index.md
  docs/tutorials/01-first-steps.md
  docs/tutorials/getting-started.md
  docs/tutorials/index.md
Due: none

feat: Add comprehensive JSDoc documentation to utility functions
  src/prompts/analysis-prompts.ts
  src/utils/actual-file-operations.ts
Due: eslint-check, test-suite, build-check

feat: Add comprehensive JSDoc documentation to APE framework interfaces
  src/types/ape-framework.ts
Due: eslint-check, test-suite, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
