Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore: bump version to v2.11.0 (#1667)
  package-lock.json
  package.json
Due: npm-audit, build-check

feat(ce-mcp): add analyze_deployment_progress directive, remove prompt-execution from deployment/environment (#1634)
  src/tools/ce-mcp-tools.ts
  src/tools/deployment-analysis-tool.ts
  src/tools/environment-analysis-tool.ts
  src/tools/tool-catalog.ts
  tests/tools/deployment-analysis-tool.test.ts
Due: eslint-check, test-suite, build-check

feat(ce-mcp): add analyze_deployment_progress directive, remove prompt-execution from deployment/environment (#1634) (#1665)
  src/tools/ce-mcp-tools.ts
  src/tools/deployment-analysis-tool.ts
  src/tools/environment-analysis-tool.ts
  src/tools/tool-catalog.ts
  tests/tools/deployment-analysis-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.12.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.12.0 (#1668)
  package-lock.json
  package.json
Due: npm-audit, build-check

feat(ce-mcp): sever last prompt-execution/ai-executor importers (#1636)
  .dead-code-baseline
  src/mcp-adr-analysis-server.ts
  src/tools/ce-mcp-tools.ts
  src/tools/tool-catalog.ts
  src/utils/file-system.ts
  src/utils/tiered-response-manager.ts
  tests/tools/check-ai-execution-status.test.ts
Due: eslint-check, test-suite, build-check

feat(ce-mcp): sever last prompt-execution/ai-executor importers (#1636) (#1666)
  .dead-code-baseline
  src/mcp-adr-analysis-server.ts
  src/tools/ce-mcp-tools.ts
  src/tools/tool-catalog.ts
  src/utils/file-system.ts
  src/utils/tiered-response-manager.ts
  tests/tools/check-ai-execution-status.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.13.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.13.0 (#1672)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(#1673): remove 9 host-native + obsolete tools from the wire (ADR-023 Phase 0)
  .dead-code-baseline
  CHANGELOG.md
  src/mcp-adr-analysis-server.ts
  src/tools/mcp-tool-schemas.ts
  src/tools/tool-catalog.ts
  src/tools/tool-dispatch.ts
  src/tools/tool-dispatcher.ts
  src/utils/server-context-generator.ts
  tests/integration/mcp-protocol.test.ts
  tests/tools/check-ai-execution-status.test.ts
  tests/tools/tool-catalog.test.ts
  tests/tools/tool-dispatch.test.ts
  tests/tools/tool-dispatcher.test.ts
Due: eslint-check, test-suite, build-check

fix(#1673): remove 9 host-native + obsolete tools from the wire (ADR-023 Phase 0) (#1674)
  .dead-code-baseline
  CHANGELOG.md
  src/mcp-adr-analysis-server.ts
  src/tools/mcp-tool-schemas.ts
  src/tools/tool-catalog.ts
  src/tools/tool-dispatch.ts
  src/tools/tool-dispatcher.ts
  src/utils/server-context-generator.ts
  tests/integration/mcp-protocol.test.ts
  tests/tools/check-ai-execution-status.test.ts
  tests/tools/tool-catalog.test.ts
  tests/tools/tool-dispatch.test.ts
  tests/tools/tool-dispatcher.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.13.1
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.13.1 (#1678)
  package-lock.json
  package.json
Due: npm-audit, build-check

feat(#1677): add MCP tool annotations to all 63 tools
  src/tools/mcp-tool-schemas.ts
  tests/integration/mcp-protocol.test.ts
Due: eslint-check, test-suite, build-check

feat(#1677): add MCP tool annotations to all 63 tools (#1680)
  src/tools/mcp-tool-schemas.ts
  tests/integration/mcp-protocol.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.14.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.0 (#1681)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(retire): delete prompt-execution, ai-executor, prompt-catalog (#1669, #1670, #1671)
  .dead-code-baseline
  src/prompts/prompt-catalog.ts
  src/tools/adr-validation-tool.ts
  src/utils/ai-executor.ts
  src/utils/file-system.ts
  src/utils/prompt-execution.ts
  src/utils/tiered-response-manager.ts
  tests/integration/ce-mcp-flow.test.ts
  tests/prompts/prompt-catalog.test.ts
  tests/research-question-tool.test.ts
  tests/tools/adr-suggestion-auto-index.test.ts
  tests/tools/adr-validation-tool.test.ts
  tests/tools/deployment-analysis-tool.test.ts
  tests/tools/environment-analysis-tool.test.ts
  tests/tools/rule-generation-tool.test.ts
  tests/utils/ai-executor.test.ts
  tests/utils/esm-mock-helper.ts
  tests/utils/prompt-execution.test.ts
Due: eslint-check, test-suite, build-check

docs: rewrite README for CE-MCP as default execution mode (#1658)
  README.md
Due: none

fix(retire): delete prompt-execution, ai-executor, prompt-catalog (#1669, #1670, #1671) (#1682)
  .dead-code-baseline
  src/prompts/prompt-catalog.ts
  src/tools/adr-validation-tool.ts
  src/utils/ai-executor.ts
  src/utils/file-system.ts
  src/utils/prompt-execution.ts
  src/utils/tiered-response-manager.ts
  tests/integration/ce-mcp-flow.test.ts
  tests/prompts/prompt-catalog.test.ts
  tests/research-question-tool.test.ts
  tests/tools/adr-suggestion-auto-index.test.ts
  tests/tools/adr-validation-tool.test.ts
  tests/tools/deployment-analysis-tool.test.ts
  tests/tools/environment-analysis-tool.test.ts
  tests/tools/rule-generation-tool.test.ts
  tests/utils/ai-executor.test.ts
  tests/utils/esm-mock-helper.ts
  tests/utils/prompt-execution.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.14.1
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.1 (#1684)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: rewrite README for CE-MCP as default execution mode (#1658) (#1683)
  README.md
Due: none

chore: bump version to v2.14.2
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.2 (#1685)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(#1648): unskip + rewrite validateAdr tests for deterministic path
  .repo-governor/acceptance/1648.json
  tests/tools/adr-validation-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(#1648): unskip + rewrite validateAdr tests for deterministic path (#1690)
  .repo-governor/acceptance/1648.json
  tests/tools/adr-validation-tool.test.ts
Due: eslint-check, test-suite, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
