Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

fix: specify cache-dependency-path for separate package.json files
  .github/workflows/deploy-docusaurus.yml
Due: none

fix: resolve ESLint unreachable code error and TypeScript type issues
  .gitignore
  custom/research/README.md
  custom/research/dir/perform_research_test_research_001.md
  docs/research/README.md
  docs/research/perform_research_test_research_001.md
  docs/research/perform_research_test_research__________001.md
  docs/research/perform_research_test_unicode.md
  eslint.config.js
  src/index.ts
  src/tools/adr-validation-tool.ts
  src/tools/llm-cloud-management-tool.ts
  src/tools/llm-database-management-tool.ts
  src/tools/llm-web-search-tool.ts
  src/tools/perform-research-tool.ts
  src/utils/ai-executor.ts
  src/utils/config.ts
  src/utils/knowledge-graph-manager.ts
  src/utils/research-orchestrator.ts
Due: eslint-check, test-suite, build-check

chore: update docs package-lock.json for Docusaurus 3.9.1
  docs/package-lock.json
Due: build-check

fix: escape MDX template placeholders to resolve Docusaurus build errors
  custom/research/README.md
  custom/research/dir/perform_research_test_research_001.md
  docs/how-to-guides/ape-implementation-strategy.md
  docs/ide-rules/ide-specific/cursor/cursor-rules-template.md
  docs/ide-rules/ide-specific/jetbrains/jetbrains-rules-template.md
  docs/ide-rules/ide-specific/vscode/vscode-rules-template.md
  docs/ide-rules/ide-specific/windsurf/windsurf-rules-template.md
  docs/research/README.md
  docs/research/perform_research_test_research_001.md
  docs/research/perform_research_test_research__________001.md
  docs/research/perform_research_test_unicode.md
Due: none

fix: resolve test timeout issues by mocking ResearchOrchestrator and MemoryEntityManager
  tests/tools/deployment-analysis-tool.test.ts
  tests/tools/troubleshoot-guided-workflow-tool.test.ts
Due: eslint-check, test-suite, build-check

feat: implement Phase 1 context decay mitigation with tiered responses
  src/index.ts
  src/tools/deployment-analysis-tool.ts
  src/tools/expand-analysis-tool.ts
  src/types/tiered-response.ts
  src/utils/tiered-response-manager.ts
Due: eslint-check, test-suite, build-check

feat: implement Phase 2 context decay mitigation with state reinforcement
  src/index.ts
  src/types/state-reinforcement.ts
  src/utils/state-reinforcement-manager.ts
Due: eslint-check, test-suite, build-check

feat: implement Phase 3 context decay mitigation with structured external memory
  PHASE_3_IMPLEMENTATION_SUMMARY.md
  src/index.ts
  src/tools/conversation-memory-tool.ts
  src/types/conversation-memory.ts
  src/utils/conversation-memory-manager.ts
Due: eslint-check, test-suite, build-check

feat: implement MCP best practices with roots system and progress notifications
  custom/research/README.md
  custom/research/dir/perform_research_test_research_001.md
  docs/research/README.md
  docs/research/perform_research_test_research_001.md
  docs/research/perform_research_test_research__________001.md
  docs/research/perform_research_test_unicode.md
  src/index.ts
  src/prompts/index.ts
  src/prompts/todo-prompts.ts
  src/types/todo-json-schemas.ts
  src/types/tool-context.ts
  src/utils/root-manager.ts
  src/utils/todo-file-watcher.ts
  tests/utils/todo-file-watcher.test.ts
Due: eslint-check, test-suite, build-check
