Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore: release v2.1.2
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): add automatic npm publishing to release workflows
  .github/workflows/ai-release-notes.yml
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
  .github/workflows/publish.yml
Due: none

chore: release v3.0.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to 3.0.1
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to 2.1.3
  package-lock.json
  package.json
Due: npm-audit, build-check

feat: change dry_run default to true for safer npm publishing
  .github/workflows/publish.yml
Due: none

chore: release v2.1.4
  package-lock.json
  package.json
Due: npm-audit, build-check

Delete .documcp/memory directory
  .documcp/memory/.index.json
  .documcp/memory/analysis_2025_09.jsonl
Due: build-check

fix: check PR author instead of actor for dependabot exclusion
  .github/workflows/auto-release-on-merge.yml
Due: none

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
