Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

fix(adr): validate_all_adrs derives its verdict instead of asserting one (#1547)
  src/tools/adr-validation-tool.ts
  src/utils/knowledge-graph-manager.ts
  tests/tools/adr-validation-summary.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.22
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.22 (#1550)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(tests): inject deployment-guidance research, delete the duplicate suite
  .repo-governor/acceptance/1459.json
  .repo-governor/acceptance/1517.json
  src/tools/deployment-guidance-tool.ts
  tests/tools/deployment-guidance-tool.test.ts
  tests/tools/deployment-guidance-tool.vitest.ts
Due: eslint-check, test-suite, build-check

fix(tests): drop the .vitest.ts include pattern with its last file
  .repo-governor/acceptance/1517.json
  vitest.config.ts
Due: eslint-check, test-suite, build-check

fix(tests): give the non-hermetic tests a fixture instead of the repository
  .repo-governor/acceptance/1519.json
  tests/index.test.ts
  tests/research-question-tool.test.ts
  tests/tools/content-masking-tool.test.ts
  tests/tools/search-codebase-tool.test.ts
Due: eslint-check, test-suite, build-check

test(deployment-guidance): cover the one line every other test injects past
  tests/tools/deployment-guidance-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): give the non-hermetic tests a fixture instead of the repository (#1554)
  .repo-governor/acceptance/1519.json
  tests/index.test.ts
  tests/research-question-tool.test.ts
  tests/tools/content-masking-tool.test.ts
  tests/tools/search-codebase-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.23
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.23 (#1555)
  package-lock.json
  package.json
Due: npm-audit, build-check

cleanup(deployment): retire the bootstrap pattern-execution engine
  docs/adrs/README.md
  docs/adrs/adr-025-retire-the-bootstrap-pattern-engine.md
  patterns/infrastructure/aws.yaml
  patterns/infrastructure/firebase-emulators.yaml
  patterns/infrastructure/firebase.yaml
  patterns/infrastructure/kubernetes.yaml
  patterns/infrastructure/openshift.yaml
  src/tools/bootstrap-validation-loop-tool.ts
  src/utils/dag-executor.ts
  src/utils/deployment-task-integration.ts
  src/utils/dynamic-deployment-intelligence.ts
  src/utils/pattern-contribution-helper.ts
  src/utils/pattern-loader.ts
  src/utils/pattern-to-dag-converter.ts
  src/utils/resource-extractor.ts
  src/utils/system-card-manager.ts
  tests/integration/dependency-injection.test.ts
  tests/integration/hybrid-dag-kubernetes.test.ts
  tests/integration/systemcard-bootstrap.test.ts
  tests/tools/bootstrap-validation-loop-tool.test.ts
  tests/utils/dag-executor.test.ts
  tests/utils/deployment-task-integration.test.ts
  tests/utils/pattern-loader.test.ts
  tests/utils/resource-extractor.test.ts
  tests/utils/system-card-manager.test.ts
Due: eslint-check, test-suite, build-check

docs(adr-025): ratified — retire the engine, and say why it is a Skill
  .github/workflows/validate-patterns.yml
  docs/adrs/README.md
  docs/adrs/adr-010-bootstrap-deployment-architecture.md
  docs/adrs/adr-012-validated-patterns-framework.md
  docs/adrs/adr-020-mcp-tasks-integration-strategy.md
  docs/adrs/adr-025-retire-the-bootstrap-pattern-engine.md
  package.json
  patterns/CONTRIBUTING.md
  patterns/README.md
  patterns/schema.json
  tests/utils/pattern-validation.test.ts
Due: npm-audit, eslint-check, test-suite, build-check

fix(ci): drop the retired module from MODULES, and stop misreporting why
  scripts/verify-packaged-runtime.sh
Due: none

ci(codecov): give the project status a 1% threshold
  codecov.yml
Due: none

ci(codecov): give the project status a 1% threshold (#1557)
  codecov.yml
Due: none

fix(tests): inject deployment-guidance research, delete the duplicate suite (#1551)
  .repo-governor/acceptance/1459.json
  .repo-governor/acceptance/1517.json
  src/tools/deployment-guidance-tool.ts
  tests/tools/deployment-guidance-tool.test.ts
  tests/tools/deployment-guidance-tool.vitest.ts
  vitest.config.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.24
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.24 (#1558)
  package-lock.json
  package.json
Due: npm-audit, build-check

cleanup(deployment): retire the bootstrap pattern-execution engine (ADR-025) (#1556)
  .github/workflows/validate-patterns.yml
  docs/adrs/README.md
  docs/adrs/adr-010-bootstrap-deployment-architecture.md
  docs/adrs/adr-012-validated-patterns-framework.md
  docs/adrs/adr-020-mcp-tasks-integration-strategy.md
  docs/adrs/adr-025-retire-the-bootstrap-pattern-engine.md
  package.json
  patterns/CONTRIBUTING.md
  patterns/README.md
  patterns/infrastructure/aws.yaml
  patterns/infrastructure/firebase-emulators.yaml
  patterns/infrastructure/firebase.yaml
  patterns/infrastructure/kubernetes.yaml
  patterns/infrastructure/openshift.yaml
  patterns/schema.json
  scripts/verify-packaged-runtime.sh
  src/tools/bootstrap-validation-loop-tool.ts
  src/utils/dag-executor.ts
  src/utils/deployment-task-integration.ts
  src/utils/dynamic-deployment-intelligence.ts
  src/utils/pattern-contribution-helper.ts
  src/utils/pattern-loader.ts
  src/utils/pattern-to-dag-converter.ts
  src/utils/resource-extractor.ts
  src/utils/system-card-manager.ts
  tests/integration/dependency-injection.test.ts
  tests/integration/hybrid-dag-kubernetes.test.ts
  tests/integration/systemcard-bootstrap.test.ts
  tests/tools/bootstrap-validation-loop-tool.test.ts
  tests/utils/dag-executor.test.ts
  tests/utils/deployment-task-integration.test.ts
  tests/utils/pattern-loader.test.ts
  tests/utils/pattern-validation.test.ts
  tests/utils/resource-extractor.test.ts
  tests/utils/system-card-manager.test.ts
Due: npm-audit, eslint-check, test-suite, build-check

chore: bump version to v2.7.25
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.25 (#1559)
  package-lock.json
  package.json
Due: npm-audit, build-check

cleanup(deps): drop @mendable/firecrawl-js and retire llm_web_search
  .repo-governor/acceptance/1526.json
  README.md
  docs/README.md
  docs/configuration.md
  docs/diataxis-index.md
  docs/explanation/ai-architecture-concepts.md
  docs/explanation/architecture-overview.md
  docs/how-to-guides/firecrawl-setup.md
  docs/how-to-guides/mcp-client-compatibility.md
  docs/how-to-guides/research-integration.md
  docs/how-to-guides/troubleshooting.md
  docs/notes/media/mcp-client-config.md
  docs/reference/environment-config.md
  docs/reference/glossary.md
  docs/reference/mcp-client-config.md
  package-lock.json
  package.json
  src/index.ts
  src/tools/llm-web-search-tool.ts
  src/tools/tool-catalog.ts
  src/utils/ai-executor.ts
  src/utils/config.ts
  src/utils/research-orchestrator.ts
  src/utils/server-context-generator.ts
  tests/integration/mcp-protocol.test.ts
Due: npm-audit, eslint-check, test-suite, build-check

fix(tests): remove the shared toolNames the lint error exposed
  tests/integration/mcp-protocol.test.ts
Due: eslint-check, test-suite, build-check

cleanup(deps): drop @mendable/firecrawl-js and retire llm_web_search (#1561)
  .repo-governor/acceptance/1526.json
  README.md
  docs/README.md
  docs/configuration.md
  docs/diataxis-index.md
  docs/explanation/ai-architecture-concepts.md
  docs/explanation/architecture-overview.md
  docs/how-to-guides/firecrawl-setup.md
  docs/how-to-guides/mcp-client-compatibility.md
  docs/how-to-guides/research-integration.md
  docs/how-to-guides/troubleshooting.md
  docs/notes/media/mcp-client-config.md
  docs/reference/environment-config.md
  docs/reference/glossary.md
  docs/reference/mcp-client-config.md
  package-lock.json
  package.json
  src/index.ts
  src/tools/llm-web-search-tool.ts
  src/tools/tool-catalog.ts
  src/utils/ai-executor.ts
  src/utils/config.ts
  src/utils/research-orchestrator.ts
  src/utils/server-context-generator.ts
  tests/integration/mcp-protocol.test.ts
Due: npm-audit, eslint-check, test-suite, build-check

chore: bump version to v2.7.26
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.26 (#1562)
  package-lock.json
  package.json
Due: npm-audit, build-check

cleanup(tools): retire llm_cloud_management and llm_database_management
  .repo-governor/acceptance/1537.json
  src/index.ts
  src/tools/llm-cloud-management-tool.ts
  src/tools/llm-database-management-tool.ts
  src/tools/tool-catalog.ts
  src/utils/ai-executor.ts
  src/utils/server-context-generator.ts
  tests/integration/mcp-protocol.test.ts
  tests/utils/no-fabricated-sources.test.ts
Due: eslint-check, test-suite, build-check

fix(test): walk src/ with readdirSync instead of fs.globSync
  tests/utils/no-fabricated-sources.test.ts
Due: eslint-check, test-suite, build-check

cleanup(tools): retire llm_cloud_management and llm_database_management (#1563)
  .repo-governor/acceptance/1537.json
  src/index.ts
  src/tools/llm-cloud-management-tool.ts
  src/tools/llm-database-management-tool.ts
  src/tools/tool-catalog.ts
  src/utils/ai-executor.ts
  src/utils/server-context-generator.ts
  tests/integration/mcp-protocol.test.ts
  tests/utils/no-fabricated-sources.test.ts
Due: eslint-check, test-suite, build-check
