Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore: bump version to v2.14.3
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.3 (#1691)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(#1560): add concurrency guard to auto-release workflow
  .github/workflows/auto-release-on-merge.yml
  .repo-governor/acceptance/1560.json
  .repo-governor/decisions/decisions.jsonl
Due: build-check

fix(#1560): add concurrency guard to auto-release workflow (#1692)
  .github/workflows/auto-release-on-merge.yml
  .repo-governor/acceptance/1560.json
  .repo-governor/decisions/decisions.jsonl
Due: build-check

chore: bump version to v2.14.4
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.4 (#1693)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(#1590): replace unmeasured outputs with null/empty across 10 files
  .repo-governor/acceptance/1590.json
  src/resources/pattern-by-name-resource.ts
  src/resources/project-metrics-resource.ts
  src/resources/project-status-resource.ts
  src/resources/rule-catalog-resource.ts
  src/resources/technology-by-name-resource.ts
  src/resources/todo-by-id-resource.ts
  src/tools/content-masking-tool.ts
  src/tools/review-existing-adrs-tool.ts
  src/tools/troubleshoot-guided-workflow-tool.ts
  src/utils/adr-action-analyzer.ts
Due: eslint-check, test-suite, build-check

test(#1695): add coverage for 6 resource/util files at 0%
  .repo-governor/acceptance/1695.json
  tests/resources/pattern-by-name-resource.test.ts
  tests/resources/project-metrics-resource.test.ts
  tests/resources/project-status-resource.test.ts
  tests/resources/rule-catalog-resource.test.ts
  tests/resources/todo-by-id-resource.test.ts
  tests/utils/adr-action-analyzer.test.ts
Due: eslint-check, test-suite, build-check

test(#1695): add coverage for 6 resource/util files at 0% (#1696)
  .repo-governor/acceptance/1590.json
  .repo-governor/acceptance/1695.json
  src/resources/pattern-by-name-resource.ts
  src/resources/project-metrics-resource.ts
  src/resources/project-status-resource.ts
  src/resources/rule-catalog-resource.ts
  src/resources/technology-by-name-resource.ts
  src/resources/todo-by-id-resource.ts
  src/tools/content-masking-tool.ts
  src/tools/review-existing-adrs-tool.ts
  src/tools/troubleshoot-guided-workflow-tool.ts
  src/utils/adr-action-analyzer.ts
  tests/resources/pattern-by-name-resource.test.ts
  tests/resources/project-metrics-resource.test.ts
  tests/resources/project-status-resource.test.ts
  tests/resources/rule-catalog-resource.test.ts
  tests/resources/todo-by-id-resource.test.ts
  tests/utils/adr-action-analyzer.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.14.5
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.5 (#1697)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.6
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(#757): add VS Code integration walkthrough and example configs
  .repo-governor/acceptance/757.json
  README.md
  docs/how-to-guides/vscode-integration.md
  examples/vscode/launch.json
  examples/vscode/mcp.json
Due: build-check

chore: bump version to v2.14.6 (#1698)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(#757): add VS Code integration walkthrough and example configs (#1699)
  .repo-governor/acceptance/757.json
  README.md
  docs/how-to-guides/vscode-integration.md
  examples/vscode/launch.json
  examples/vscode/mcp.json
Due: build-check

chore: bump version to v2.14.7
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.7 (#1700)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: drift-led messaging overhaul across all public surfaces (#1686)
  README.md
  docs/index.md
  package.json
Due: npm-audit, build-check

docs: drift-led messaging overhaul across all public surfaces (#1686) (#1687)
  README.md
  docs/index.md
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.8
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.8 (#1702)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(#1701): align MCP registry metadata with drift-led messaging
  .repo-governor/acceptance/1701.json
  server.json
Due: build-check

fix(#1701): align MCP registry metadata with drift-led messaging (#1703)
  .repo-governor/acceptance/1701.json
  server.json
Due: build-check

chore: bump version to v2.14.9
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: correct acceptance criteria filename for #1701
  .repo-governor/acceptance/1701.json
Due: build-check

chore: bump version to v2.14.9 (#1704)
  package-lock.json
  package.json
Due: npm-audit, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
