Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

chore: bump version to v2.6.22 (#1457)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ce-mcp): stop the AI layer misreporting its own state (#1456)
  src/index.ts
  src/tools/ce-mcp-tools.ts
  src/tools/tool-catalog.ts
  tests/tools/ce-mcp-directives.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.6.23
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.23 (#1458)
  package-lock.json
  package.json
Due: npm-audit, build-check

test(adr): check the ADR ledger against the code, fix what is unambiguous
  .adr-drift-baseline
  .github/workflows/lint.yml
  .repo-governor/decisions/decisions.jsonl
  docs/adrs/README.md
  docs/adrs/adr-0001-test-decision.md
  scripts/check-adr-drift.sh
  src/tools/ce-mcp-tools.ts
  src/tools/tool-catalog.ts
  src/tools/tool-dispatcher.ts
Due: eslint-check, test-suite, build-check

test(adr): check the ADR ledger against the code, fix what is unambiguous (#1460)
  .adr-drift-baseline
  .github/workflows/lint.yml
  .repo-governor/decisions/decisions.jsonl
  docs/adrs/README.md
  docs/adrs/adr-0001-test-decision.md
  scripts/check-adr-drift.sh
  src/tools/ce-mcp-tools.ts
  src/tools/tool-catalog.ts
  src/tools/tool-dispatcher.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.6.24
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.24 (#1464)
  package-lock.json
  package.json
Due: npm-audit, build-check

feat(adr): adopt MADR as the default format (ADR-022)
  docs/adrs/README.md
  docs/adrs/adr-022-adopt-madr-format.md
  scripts/check-adr-drift.sh
  src/tools/adr-suggestion-tool.ts
  tests/tools/adr-suggestion-tool.test.ts
Due: eslint-check, test-suite, build-check

feat(adr): adopt MADR as the default format (ADR-022) (#1465)
  docs/adrs/README.md
  docs/adrs/adr-022-adopt-madr-format.md
  scripts/check-adr-drift.sh
  src/tools/adr-suggestion-tool.ts
  tests/tools/adr-suggestion-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.0 (#1467)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(deps): declare js-yaml as a runtime dependency
  .repo-governor/acceptance/1468.json
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(deps): declare js-yaml as a runtime dependency (#1470)
  .repo-governor/acceptance/1468.json
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.1
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.1 (#1471)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(adr): record the AI-layer disposition — option B (ADR-021 Accepted)
  docs/adrs/README.md
  docs/adrs/adr-021-ai-layer-disposition.md
Due: none

docs(adr): record the AI-layer disposition — option B (ADR-021 Accepted) (#1472)
  docs/adrs/README.md
  docs/adrs/adr-021-ai-layer-disposition.md
Due: none

chore: bump version to v2.7.2
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.2 (#1473)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(adr): ADR-023 — which of the 75 tools should still exist
  docs/adrs/README.md
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

fix(resources): restore 16 dead resources, and tag the ADR corpus by area
  docs/adrs/adr-001-mcp-protocol-implementation-strategy.md
  docs/adrs/adr-002-ai-integration-and-advanced-prompting-strategy.md
  docs/adrs/adr-003-memory-centric-architecture.md
  docs/adrs/adr-004-security-and-content-masking-strategy.md
  docs/adrs/adr-005-testing-and-quality-assurance-strategy.md
  docs/adrs/adr-006-tree-sitter-integration-strategy.md
  docs/adrs/adr-007-cicd-pipeline-strategy.md
  docs/adrs/adr-008-development-workflow-strategy.md
  docs/adrs/adr-009-package-distribution-strategy.md
  docs/adrs/adr-010-bootstrap-deployment-architecture.md
  docs/adrs/adr-011-adr-timeline-tracking-and-context-aware-analysis.md
  docs/adrs/adr-012-validated-patterns-framework.md
  docs/adrs/adr-013-documentation-platform-strategy.md
  docs/adrs/adr-014-ce-mcp-architecture.md
  docs/adrs/adr-015-ape-optimization-strategy.md
  docs/adrs/adr-017-tree-sitter-version-strategy.md
  docs/adrs/adr-018-atomic-tools-architecture.md
  docs/adrs/adr-018-mcp-tasks-integration-strategy.md
  docs/adrs/adr-019-vitest-migration.md
  docs/adrs/adr-020-mcp-tasks-integration-strategy.md
  docs/adrs/adr-021-ai-layer-disposition.md
  docs/adrs/adr-022-adopt-madr-format.md
  src/index.ts
  src/utils/adr-discovery.ts
  tests/integration/mcp-protocol.test.ts
  tests/utils/adr-discovery-tags.test.ts
Due: eslint-check, test-suite, build-check

fix(resources): stop deployment_status running a build and the test suite
  src/resources/deployment-status-resource.ts
  tests/integration/mcp-protocol.test.ts
Due: eslint-check, test-suite, build-check

docs(adr): ADR-023 — which of the 75 tools should still exist (#1474)
  docs/adrs/README.md
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

chore: bump version to v2.7.3
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.3 (#1476)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(resources): restore 16 dead resources, and tag the ADR corpus by area (#1475)
  docs/adrs/adr-001-mcp-protocol-implementation-strategy.md
  docs/adrs/adr-002-ai-integration-and-advanced-prompting-strategy.md
  docs/adrs/adr-003-memory-centric-architecture.md
  docs/adrs/adr-004-security-and-content-masking-strategy.md
  docs/adrs/adr-005-testing-and-quality-assurance-strategy.md
  docs/adrs/adr-006-tree-sitter-integration-strategy.md
  docs/adrs/adr-007-cicd-pipeline-strategy.md
  docs/adrs/adr-008-development-workflow-strategy.md
  docs/adrs/adr-009-package-distribution-strategy.md
  docs/adrs/adr-010-bootstrap-deployment-architecture.md
  docs/adrs/adr-011-adr-timeline-tracking-and-context-aware-analysis.md
  docs/adrs/adr-012-validated-patterns-framework.md
  docs/adrs/adr-013-documentation-platform-strategy.md
  docs/adrs/adr-014-ce-mcp-architecture.md
  docs/adrs/adr-015-ape-optimization-strategy.md
  docs/adrs/adr-017-tree-sitter-version-strategy.md
  docs/adrs/adr-018-atomic-tools-architecture.md
  docs/adrs/adr-018-mcp-tasks-integration-strategy.md
  docs/adrs/adr-019-vitest-migration.md
  docs/adrs/adr-020-mcp-tasks-integration-strategy.md
  docs/adrs/adr-021-ai-layer-disposition.md
  docs/adrs/adr-022-adopt-madr-format.md
  src/index.ts
  src/resources/deployment-status-resource.ts
  src/utils/adr-discovery.ts
  tests/integration/mcp-protocol.test.ts
  tests/utils/adr-discovery-tags.test.ts
Due: eslint-check, test-suite, build-check
