Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

fix: resolve ESM compliance violations
  src/utils/directory-compat.ts
  src/utils/interactive-approval.ts
  src/utils/pattern-loader.ts
Due: eslint-check, test-suite, build-check

Add missing unit tests for knowledge graph subsystems (#470)
  src/utils/directory-compat.ts
  src/utils/interactive-approval.ts
  src/utils/pattern-loader.ts
  tests/utils/conversation-memory-manager.test.ts
  tests/utils/knowledge-graph-manager.test.ts
  tests/utils/state-reinforcement-manager.test.ts
Due: eslint-check, test-suite, build-check

ci: gracefully handle disabled auto-merge in version-bump step (#473)
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

ci: add release existence guard to auto-release workflows
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

fix: use exit code instead of stdout to check release existence
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

ci: add release existence guard to auto-release workflows (#475)
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

ci: fix invalid autoMergeAllowed field in auto-release workflows
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

ci: fix invalid autoMergeAllowed field in auto-release workflows (#479)
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

docs: fix MDX compilation errors, escape JSX-breaking patterns, and add source install option
  README.md
  docs/IMPLEMENTATION-PLAN.md
  docs/adrs/adr-011-adr-timeline-tracking-and-context-aware-analysis.md
  docs/adrs/adr-018-atomic-tools-architecture.md
  docs/atomic-tool-template.md
  docs/how-to-guides/tool-context-documentation-plan.md
  docs/test-infrastructure-simplification-summary.md
  docs/testing-improvements-adr-018.md
Due: none

docs: fix MDX compilation errors, escape JSX-breaking patterns, and add source install option (#497)
  README.md
  docs/IMPLEMENTATION-PLAN.md
  docs/adrs/adr-011-adr-timeline-tracking-and-context-aware-analysis.md
  docs/adrs/adr-018-atomic-tools-architecture.md
  docs/atomic-tool-template.md
  docs/how-to-guides/tool-context-documentation-plan.md
  docs/test-infrastructure-simplification-summary.md
  docs/testing-improvements-adr-018.md
Due: none

ci: add missing setup steps to ai-executor-integration workflow
  .github/workflows/ai-executor-integration.md
Due: none

ci: add missing setup steps to ai-executor-integration workflow (#499)
  .github/workflows/ai-executor-integration.md
Due: none

docs: fix documentation review findings from issue #508
  README.md
  docs/CONVERSION_CHECKLIST.md
  docs/README-library.md
  docs/README.md
  docs/TESTING_GUIDE.md
  docs/adrs/README.md
  docs/community/README-library.md
  docs/explanation/ai-workflow-concepts.md
  docs/explanation/self-learning-architecture.md
  docs/how-to-guides/bootstrap-architecture-docs.md
  docs/how-to-guides/contribute.md
  docs/how-to-guides/custom-rules.md
  docs/how-to-guides/firecrawl-setup.md
  docs/how-to-guides/testing-guide.md
  docs/how-to-guides/tool-development.md
  docs/how-to-guides/troubleshooting.md
  docs/notes/DEVELOPER_GUIDANCE.md
  docs/notes/README.md
  docs/notes/media/01-first-steps.md
  docs/notes/media/troubleshooting.md
  docs/reference/comprehensive-api-reference.md
  docs/reference/glossary.md
  docs/tutorials/01-first-steps.md
  docs/tutorials/03-advanced-analysis.md
  docs/tutorials/team-collaboration.md
Due: none

ci: change gh-aw Copilot agents from weekly to monthly schedules
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/dependabot-bundler.md
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-noob-tester.md
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/docs-site-validator.md
  .github/workflows/mcp-tool-checker.lock.yml
  .github/workflows/mcp-tool-checker.md
Due: none

ci: fix npm audit failures by scoping to production deps
  .github/workflows/security-scanning.yml
  Makefile
  package-lock.json
Due: build-check

ci: scope dependencies.yml audit to production deps
  .github/workflows/dependencies.yml
Due: none

docs: fix documentation review findings from issue #508 (#509)
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/dependabot-bundler.md
  .github/workflows/dependencies.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-noob-tester.md
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/docs-site-validator.md
  .github/workflows/mcp-tool-checker.lock.yml
  .github/workflows/mcp-tool-checker.md
  .github/workflows/security-scanning.yml
  Makefile
  README.md
  docs/CONVERSION_CHECKLIST.md
  docs/README-library.md
  docs/README.md
  docs/TESTING_GUIDE.md
  docs/adrs/README.md
  docs/community/README-library.md
  docs/explanation/ai-workflow-concepts.md
  docs/explanation/self-learning-architecture.md
  docs/how-to-guides/bootstrap-architecture-docs.md
  docs/how-to-guides/contribute.md
  docs/how-to-guides/custom-rules.md
  docs/how-to-guides/firecrawl-setup.md
  docs/how-to-guides/testing-guide.md
  docs/how-to-guides/tool-development.md
  docs/how-to-guides/troubleshooting.md
  docs/notes/DEVELOPER_GUIDANCE.md
  docs/notes/README.md
  docs/notes/media/01-first-steps.md
  docs/notes/media/troubleshooting.md
  docs/reference/comprehensive-api-reference.md
  docs/reference/glossary.md
  docs/tutorials/01-first-steps.md
  docs/tutorials/03-advanced-analysis.md
  docs/tutorials/team-collaboration.md
  package-lock.json
Due: build-check

ci: remove tool-chain-orchestrator-validation agent
  .github/workflows/tool-chain-orchestrator-validation.lock.yml
  .github/workflows/tool-chain-orchestrator-validation.md
Due: none

ci: remove tool-chain-orchestrator-validation agent (#517)
  .github/workflows/tool-chain-orchestrator-validation.lock.yml
  .github/workflows/tool-chain-orchestrator-validation.md
Due: none

fix(docs): replace broken Algolia search with local search, fix sitemap and SEO (#510)
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sitemap.xml
  docs/static/.nojekyll
  docs/static/robots.txt
Due: npm-audit, eslint-check, test-suite, build-check

fix(docs): replace broken Algolia search with local search, fix sitemap and SEO (#510) (#518)
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sitemap.xml
  docs/static/.nojekyll
  docs/static/robots.txt
Due: npm-audit, eslint-check, test-suite, build-check

docs: rewrite landing page with project-focused content
  docs/index.md
Due: none

docs: rewrite landing page with project-focused content (#524)
  docs/index.md
Due: none

fix: update MCP server tool count from 27/23 to 73 across documentation (#522)
  .github/copilot-instructions.md
  .github/workflows/mcp-server-validation.md
  .github/workflows/mcp-tool-checker.md
  README.md
Due: none

fix(test): use fake timers in timestamp update test to eliminate flakiness
  tests/utils/resource-versioning.test.ts
Due: eslint-check, test-suite, build-check

docs: fix broken link, move MCP definition earlier, add prerequisites and success checklist (#530)
  README.md
  docs/DOCUSAURUS_MIGRATION.md
  docs/tutorials/01-first-steps.md
  docs/tutorials/index.md
  tests/utils/resource-versioning.test.ts
Due: eslint-check, test-suite, build-check

fix(test): use temp directory for invalid YAML test to fix parallel test race
  tests/utils/pattern-loader.test.ts
Due: eslint-check, test-suite, build-check

fix: add `emulator-first` to strategy enum in pattern schema (#533)
  patterns/schema.json
  tests/utils/pattern-loader.test.ts
Due: eslint-check, test-suite, build-check
