Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

fix: resolve tree-sitter AWS credential detection
  custom/research/README.md
  custom/research/dir/perform_research_test_research_001.md
  docs/research/README.md
  docs/research/perform_research_test_research_001.md
  docs/research/perform_research_test_research__________001.md
  docs/research/perform_research_test_unicode.md
  src/utils/tree-sitter-analyzer.ts
  tests/tools/adr-validation-tool.test.ts
  tests/tools/environment-analysis-tool.test.ts
  tests/tools/perform-research-tool.test.ts.backup
  tests/utils/environment-capability-registry.test.ts
  tests/utils/tree-sitter-jest-integration.test.ts
Due: eslint-check, test-suite, build-check

fix: resolve all test failures including smart-git-push-tool-v2 ESM mocking
  src/utils/environment-capability-registry.ts
  tests/tools/adr-validation-tool.test.ts
  tests/tools/smart-git-push-tool-v2.test.ts
  tests/utils/environment-capability-registry.test.ts
Due: eslint-check, test-suite, build-check

fix: increase timeout for slow deployment and troubleshoot tests
  tests/tools/deployment-analysis-tool.test.ts
  tests/tools/troubleshoot-guided-workflow-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to 2.1.11
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: update TypeDoc to 0.28.13 for TypeScript 5.9.3 compatibility
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: update dependencies to resolve peer dependency conflicts
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: generate TypeDoc API docs only in CI/CD deployment
  .github/workflows/deploy-docusaurus.yml
  .gitignore
  docs/api/.nojekyll
  docs/api/assets/custom.css
  docs/api/assets/highlight.css
  docs/api/assets/icons.js
  docs/api/assets/icons.svg
  docs/api/assets/main.js
  docs/api/assets/navigation.js
  docs/api/assets/search.js
  docs/api/assets/style.css
  docs/api/classes/McpAdrAnalysisServer.html
  docs/api/index.html
  docs/api/modules.html
Due: eslint-check, test-suite, build-check

fix: specify cache-dependency-path for separate package.json files
  .github/workflows/deploy-docusaurus.yml
Due: none

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
