Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

cleanup(tools): retire llm_cloud_management and llm_database_management (#1563)
  .repo-governor/acceptance/1537.json
  src/index.ts
  src/tools/llm-cloud-management-tool.ts
  src/tools/llm-database-management-tool.ts
  src/tools/tool-catalog.ts
  src/utils/ai-executor.ts
  src/utils/server-context-generator.ts
  tests/integration/mcp-protocol.test.ts
  tests/utils/no-fabricated-sources.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.27
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.27 (#1564)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(resources): derive the research topic from the document, not its filename
  .repo-governor/acceptance/1530.json
  docs/research/README.md
  src/resources/research-index-resource.ts
  tests/resources/research-index-resource.test.ts
Due: eslint-check, test-suite, build-check

fix(resources): derive the research topic from the document, not its filename (#1565)
  .repo-governor/acceptance/1530.json
  docs/research/README.md
  src/resources/research-index-resource.ts
  tests/resources/research-index-resource.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.28
  package-lock.json
  package.json
Due: npm-audit, build-check

ci(lint): add a ratcheting dead-code check, and hold it at 17
  .dead-code-baseline
  .github/workflows/lint.yml
  .repo-governor/acceptance/1540.json
  scripts/check-dead-code.sh
  scripts/dead-code.py
Due: build-check

chore: bump version to v2.7.28 (#1566)
  package-lock.json
  package.json
Due: npm-audit, build-check

ci(lint): add a ratcheting dead-code check, and hold it at 17 (#1567)
  .dead-code-baseline
  .github/workflows/lint.yml
  .repo-governor/acceptance/1540.json
  scripts/check-dead-code.sh
  scripts/dead-code.py
Due: build-check

chore: bump version to v2.7.29
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.29 (#1568)
  package-lock.json
  package.json
Due: npm-audit, build-check

cleanup(src): retire four orphaned modules, ratchet 17 -> 13
  .dead-code-baseline
  .repo-governor/acceptance/1540.json
  docs/adrs/README.md
  docs/how-to-guides/testing-guide.md
  src/tools/tree-sitter-code-tools.ts
  src/utils/apply-cot-enhancement.ts
  src/utils/deployment-type-registry.ts
  src/utils/research-documentation.ts
  tests/utils/research-documentation.test.ts
Due: eslint-check, test-suite, build-check

cleanup(src): retire four orphaned modules, ratchet 17 -> 13 (#1569)
  .dead-code-baseline
  .repo-governor/acceptance/1540.json
  docs/adrs/README.md
  docs/how-to-guides/testing-guide.md
  src/tools/tree-sitter-code-tools.ts
  src/utils/apply-cot-enhancement.ts
  src/utils/deployment-type-registry.ts
  src/utils/research-documentation.ts
  tests/utils/research-documentation.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.30
  package-lock.json
  package.json
Due: npm-audit, build-check

cleanup(src): retire six more orphans, ratchet 13 -> 7
  .dead-code-baseline
  .repo-governor/acceptance/1540.json
  src/resources/adrs-review-resource.ts
  src/resources/architectural-context-resource.ts
  src/resources/memory-expand-resource.ts
  src/utils/index.ts
  src/utils/interactive-approval.ts
  src/utils/location-filter.ts
  tests/performance-effectiveness.test.ts
  tests/resources/adrs-review-resource.test.ts
  tests/resources/architectural-context-resource.test.ts
  tests/resources/memory-expand-resource.test.ts
  tests/utils/interactive-approval.test.ts
  tests/utils/location-filter.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.30 (#1571)
  package-lock.json
  package.json
Due: npm-audit, build-check

cleanup(src): retire six more orphans, ratchet 13 -> 7 (#1570)
  .dead-code-baseline
  .repo-governor/acceptance/1540.json
  src/resources/adrs-review-resource.ts
  src/resources/architectural-context-resource.ts
  src/resources/memory-expand-resource.ts
  src/utils/index.ts
  src/utils/interactive-approval.ts
  src/utils/location-filter.ts
  tests/performance-effectiveness.test.ts
  tests/resources/adrs-review-resource.test.ts
  tests/resources/architectural-context-resource.test.ts
  tests/resources/memory-expand-resource.test.ts
  tests/utils/interactive-approval.test.ts
  tests/utils/location-filter.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.31
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.31 (#1572)
  package-lock.json
  package.json
Due: npm-audit, build-check

cleanup(src): retire two more orphans, ratchet 7 -> 5
  .dead-code-baseline
  .repo-governor/acceptance/1540.json
  docs/how-to-guides/testing-guide.md
  docs/planning/IMPLEMENTATION-PLAN.md
  scripts/create-github-issues.sh
  src/utils/bootstrap-task-integration.ts
  src/utils/llm-artifact-detector.ts
  tests/utils/bootstrap-task-integration.test.ts
  tests/utils/llm-artifact-detector.test.ts
Due: eslint-check, test-suite, build-check

cleanup(src): retire two more orphans, ratchet 7 -> 5 (#1573)
  .dead-code-baseline
  .repo-governor/acceptance/1540.json
  docs/how-to-guides/testing-guide.md
  docs/planning/IMPLEMENTATION-PLAN.md
  scripts/create-github-issues.sh
  src/utils/bootstrap-task-integration.ts
  src/utils/llm-artifact-detector.ts
  tests/utils/bootstrap-task-integration.test.ts
  tests/utils/llm-artifact-detector.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.32
  package-lock.json
  package.json
Due: npm-audit, build-check

ci(test): skip the Codecov upload for Dependabot, unblocking 13 PRs
  .github/workflows/test.yml
Due: none

chore: bump version to v2.7.32 (#1574)
  package-lock.json
  package.json
Due: npm-audit, build-check

ci(test): skip the Codecov upload for Dependabot, unblocking 13 PRs (#1575)
  .github/workflows/test.yml
Due: none

chore(governance): make #1530's bar measure the tests it names
  .repo-governor/acceptance/1530.json
Due: build-check

chore(governance): record CAPTURE_ONLY discovery from #1530
  .repo-governor/decisions/decisions.jsonl
Due: none

chore(governance): make #1530's bar measure the tests it names (#1582)
  .repo-governor/acceptance/1530.json
  .repo-governor/decisions/decisions.jsonl
Due: build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
