Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

fix: add `emulator-first` to strategy enum in pattern schema (#533)
  patterns/schema.json
  tests/utils/pattern-loader.test.ts
Due: eslint-check, test-suite, build-check

fix(test): use fake timers in uptime tracking test to eliminate flakiness
  tests/utils/monitoring.test.ts
Due: eslint-check, test-suite, build-check

fix(test): use fake timers in uptime tracking test to eliminate flakiness (#534)
  tests/utils/monitoring.test.ts
Due: eslint-check, test-suite, build-check

feat(ci): add placeholder/template content detection to docs validation agents
  .github/workflows/docs-noob-tester.md
  .github/workflows/docs-site-validator.md
Due: none

feat(ci): add placeholder/template content detection to docs validation agents (#538)
  .github/workflows/docs-noob-tester.md
  .github/workflows/docs-site-validator.md
Due: none

chore: bump version to v2.2.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(ci): recompile agentic workflow lock files
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/mcp-tool-checker.lock.yml
Due: none

chore(ci): recompile agentic workflow lock files (#540)
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/mcp-tool-checker.lock.yml
Due: none

docs: fix documentation issues from noob test review (#544)
  README.md
  docs/configuration.md
  docs/development.md
  docs/diataxis-index.md
  docs/explanation/ai-architecture-concepts.md
  docs/explanation/architecture-overview.md
  docs/explanation/self-learning-architecture.md
  docs/how-to-guides/deployment-readiness.md
  docs/how-to-guides/troubleshooting.md
  docs/reference/api-reference.md
Due: none

docs: fix documentation issues from noob test review (#544) (#545)
  README.md
  docs/configuration.md
  docs/development.md
  docs/diataxis-index.md
  docs/explanation/ai-architecture-concepts.md
  docs/explanation/architecture-overview.md
  docs/explanation/self-learning-architecture.md
  docs/how-to-guides/deployment-readiness.md
  docs/how-to-guides/troubleshooting.md
  docs/reference/api-reference.md
Due: none

deps-dev(deps-dev): bump vitest from 4.0.17 to 4.0.18
  package-lock.json
  package.json
Due: npm-audit, build-check

deps-dev(deps-dev): bump vitest from 4.0.17 to 4.0.18 (#566)
  package-lock.json
  package.json
Due: npm-audit, build-check

deps-dev(deps-dev): bump dev tooling dependencies
  package-lock.json
  package.json
Due: npm-audit, build-check

deps-dev(deps-dev): bump dev tooling dependencies (#567)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.1.29
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.2.1
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.2.1 (#572)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: [docs-noob] documentation review — march 1, 2026
  docs/examples/bootstrap-adr-template.md
  docs/explanation/self-learning-architecture.md
  docs/notes/DEVELOPER_GUIDANCE.md
  docs/notes/RESEARCH-DRIVEN-ARCHITECTURE.md
  docs/package-lock.json
  eslint.config.js
  reports/markdown-validation_20251003_185155.txt
  scripts/fix-broken-links.py
Due: eslint-check, test-suite, build-check

feat: add aggregator endpoint mapping, integration tests, and CI workflow
  .github/workflows/aggregator-integration.yml
  README.md
  docs/configuration.md
  docs/how-to-guides/adr-aggregator-integration.md
  src/utils/aggregator-endpoint-map.ts
  tests/integration/aggregator-endpoint-mapping.test.ts
  tests/integration/aggregator-live.test.ts
Due: eslint-check, test-suite, build-check

fix: use env context instead of secrets in workflow step condition
  .github/workflows/aggregator-integration.yml
Due: none

chore: bump version to v2.2.2
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(security): resolve 3 high-severity npm vulnerabilities via audit fix
  package-lock.json
Due: build-check

fix: Register search_tools in ListToolsRequestSchema handler (#617)
  src/index.ts
Due: eslint-check, test-suite, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
