Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

Delete IMPLEMENTATION_SUMMARY.md (#368)
  IMPLEMENTATION_SUMMARY.md
Due: none

Delete WORKFLOW_TESTING_PLAN.md
  WORKFLOW_TESTING_PLAN.md
Due: none

Delete WORKFLOW_TESTING_PLAN.md (#369)
  WORKFLOW_TESTING_PLAN.md
Due: none

feat: add ADR Aggregator integration
  README.md
  docs/reference/environment-config.md
  eslint.config.js
  src/index.ts
  src/tools/adr-aggregator-tools.ts
  src/tools/tool-catalog.ts
  src/tools/tool-dispatcher.ts
  src/types/adr-aggregator.ts
  src/types/index.ts
  src/utils/adr-aggregator-client.ts
  src/utils/config.ts
  src/utils/git-remote-detector.ts
  tests/integration/adr-aggregator.test.ts
  tests/tools/tool-catalog.test.ts
Due: eslint-check, test-suite, build-check

fix(deps): update @modelcontextprotocol/sdk to 1.25.2
  package-lock.json
Due: build-check

docs: add optional ADR Aggregator config to quick setup
  README.md
Due: none

fix: expose ADR Aggregator tools in ListToolsRequestSchema
  src/index.ts
Due: eslint-check, test-suite, build-check

feat: add analyze_gaps tool for ADR-codebase gap detection
  src/index.ts
  src/tools/analyze-gaps-tool.ts
  src/types/adr-aggregator.ts
  src/utils/adr-aggregator-client.ts
Due: eslint-check, test-suite, build-check

fix: use Bearer token auth for gap analysis endpoints
  src/utils/adr-aggregator-client.ts
Due: eslint-check, test-suite, build-check

fix: normalize ./ prefixes in gap analysis file references
  src/tools/analyze-gaps-tool.ts
Due: eslint-check, test-suite, build-check

fix: align gap analysis types with API spec
  src/tools/analyze-gaps-tool.ts
  src/types/adr-aggregator.ts
Due: eslint-check, test-suite, build-check

feat: add robust path normalization and verification for gap detection
  src/tools/analyze-gaps-tool.ts
Due: eslint-check, test-suite, build-check

feat: add verified field to Gap interface for file existence confirmation
  src/tools/analyze-gaps-tool.ts
  src/types/adr-aggregator.ts
Due: eslint-check, test-suite, build-check

feat: implement update_implementation_status MCP tool (Pro+ tier)
  src/index.ts
  src/tools/adr-aggregator-tools.ts
  src/tools/tool-catalog.ts
  src/types/adr-aggregator.ts
  src/utils/adr-aggregator-client.ts
  tests/integration/adr-aggregator.test.ts
Due: eslint-check, test-suite, build-check

feat: add get_adr_priorities tool for roadmap/backlog planning
  src/index.ts
  src/tools/adr-aggregator-tools.ts
  src/tools/tool-catalog.ts
  src/types/adr-aggregator.ts
  src/utils/adr-aggregator-client.ts
  tests/integration/adr-aggregator.test.ts
Due: eslint-check, test-suite, build-check

fix(catalog): add missing analyze_gaps tool to TOOL_CATALOG
  src/tools/tool-catalog.ts
Due: eslint-check, test-suite, build-check

chore: bump version to 2.1.23
  package-lock.json
  package.json
Due: npm-audit, build-check

ci: switch to NPM OIDC Trusted Publishing
  .github/workflows/ai-release-notes.yml
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
  .github/workflows/publish.yml
Due: none

chore: bump version to 2.1.24 for NPM OIDC publish
  package-lock.json
  package.json
Due: npm-audit, build-check

ci: add release environment for NPM OIDC Trusted Publishing
  .github/workflows/publish.yml
Due: none

chore: bump version to 2.1.25
  package-lock.json
  package.json
Due: npm-audit, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
