Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore(governance): make #1530's bar measure the tests it names (#1582)
  .repo-governor/acceptance/1530.json
  .repo-governor/decisions/decisions.jsonl
Due: build-check

fix(tools): stop constructing ResearchOrchestrator in consumers
  .adr-drift-baseline
  .repo-governor/acceptance/1461.json
  src/tools/adr-validation-tool.ts
  src/tools/deployment-analysis-tool.ts
  src/tools/deployment-guidance-tool.ts
  src/tools/deployment-readiness-tool.ts
  src/tools/interactive-adr-planning-tool.ts
  src/tools/perform-research-tool.ts
  src/tools/troubleshoot-guided-workflow-tool.ts
  src/utils/research-orchestrator.ts
  tests/tools/adr-validation-tool.test.ts
  tests/tools/deployment-analysis-tool.test.ts
  tests/tools/deployment-guidance-tool.test.ts
  tests/tools/troubleshoot-guided-workflow-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(tools): stop constructing ResearchOrchestrator in consumers (#1583)
  .adr-drift-baseline
  .repo-governor/acceptance/1461.json
  src/tools/adr-validation-tool.ts
  src/tools/deployment-analysis-tool.ts
  src/tools/deployment-guidance-tool.ts
  src/tools/deployment-readiness-tool.ts
  src/tools/interactive-adr-planning-tool.ts
  src/tools/perform-research-tool.ts
  src/tools/troubleshoot-guided-workflow-tool.ts
  src/utils/research-orchestrator.ts
  tests/tools/adr-validation-tool.test.ts
  tests/tools/deployment-analysis-tool.test.ts
  tests/tools/deployment-guidance-tool.test.ts
  tests/tools/troubleshoot-guided-workflow-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.33
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.33 (#1576)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(governance): split #1540 held orphans to #1585 and capture leftover debt
  .repo-governor/acceptance/1540.json
  .repo-governor/acceptance/1585.json
  .repo-governor/decisions/decisions.jsonl
Due: build-check

fix(resources): honour PROJECT_PATH in code_quality and deployment_history
  .repo-governor/acceptance/1553.json
  .repo-governor/decisions/decisions.jsonl
  src/resources/code-quality-resource.ts
  src/resources/deployment-history-resource.ts
  src/utils/config.ts
  tests/config.test.ts
  tests/resources/code-quality-resource.test.ts
  tests/resources/deployment-history-resource.test.ts
Due: eslint-check, test-suite, build-check

fix(tools): dedupe search_codebase paths, score filenames, count real files
  .repo-governor/acceptance/1552.json
  src/tools/search-codebase-tool.ts
  src/utils/actual-file-operations.ts
  tests/tools/content-masking-tool.test.ts
  tests/tools/search-codebase-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(ci): enumerate packaged entry points instead of a MODULES list
  .repo-governor/acceptance/1469.json
  .repo-governor/decisions/decisions.jsonl
  scripts/verify-packaged-runtime.sh
Due: build-check

fix(tools): stop reporting unmeasured numbers from deployment_readiness
  .repo-governor/acceptance/1541.json
  .repo-governor/decisions/decisions.jsonl
  src/resources/deployment-history-resource.ts
  src/resources/pattern-by-name-resource.ts
  src/resources/rule-by-id-resource.ts
  src/resources/technology-by-name-resource.ts
  src/tools/deployment-readiness-tool.ts
  src/types/memory-entities.ts
  src/utils/pattern-research-utility.ts
  src/utils/research-orchestrator.ts
  tests/resources/deployment-history-resource.test.ts
  tests/tools/deployment-readiness-tool.test.ts
  tests/tools/deployment-readiness-unmeasured.test.ts
  tests/utils/research-orchestrator-confidence.test.ts
Due: eslint-check, test-suite, build-check

refactor(tools): one MCP_TOOL_SCHEMAS list for ListTools, dispatch, and catalog
  src/index.ts
  src/mcp-adr-analysis-server.ts
  src/tools/mcp-tool-schemas.ts
  src/tools/tool-catalog.ts
  src/tools/tool-dispatch.ts
  src/tools/tool-dispatcher.ts
  tests/integration/aggregator-endpoint-mapping.test.ts
  tests/utils/knowledge-graph-manager.test.ts
  tests/version.test.ts
Due: eslint-check, test-suite, build-check

chore(governance): split #1540 held orphans to #1585 and capture leftover debt (#1586)
  .repo-governor/acceptance/1540.json
  .repo-governor/acceptance/1585.json
  .repo-governor/decisions/decisions.jsonl
Due: build-check

chore: bump version to v2.7.34
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.34 (#1593)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(tools): dedupe search_codebase paths, score filenames, count real files (#1588)
  .repo-governor/acceptance/1552.json
  src/tools/search-codebase-tool.ts
  src/utils/actual-file-operations.ts
  tests/tools/content-masking-tool.test.ts
  tests/tools/search-codebase-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.35
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.35 (#1594)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): enumerate packaged entry points instead of a MODULES list (#1589)
  .repo-governor/acceptance/1469.json
  .repo-governor/decisions/decisions.jsonl
  scripts/verify-packaged-runtime.sh
Due: build-check

chore: bump version to v2.7.36
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.36 (#1595)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(tools): stop reporting unmeasured numbers from deployment_readiness (#1591)
  .repo-governor/acceptance/1541.json
  .repo-governor/decisions/decisions.jsonl
  src/resources/deployment-history-resource.ts
  src/resources/pattern-by-name-resource.ts
  src/resources/rule-by-id-resource.ts
  src/resources/technology-by-name-resource.ts
  src/tools/deployment-readiness-tool.ts
  src/types/memory-entities.ts
  src/utils/pattern-research-utility.ts
  src/utils/research-orchestrator.ts
  tests/resources/deployment-history-resource.test.ts
  tests/tools/deployment-readiness-tool.test.ts
  tests/tools/deployment-readiness-unmeasured.test.ts
  tests/utils/research-orchestrator-confidence.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.37
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.37 (#1596)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(governance): re-chain decisions.jsonl after parallel PR appends
  .repo-governor/decisions/decisions.jsonl
Due: none

fix(security): resolve CodeQL ReDoS and shell-from-input alerts
  .repo-governor/acceptance/1597.json
  src/index.ts
  src/tools/smart-git-push-tool-v2.ts
  src/utils/environment-capability-registry.ts
  src/utils/file-system.ts
  src/utils/research-orchestrator.ts
  src/utils/ripgrep-wrapper.ts
Due: eslint-check, test-suite, build-check

test: update smart-git-push mock to include execFileSync
  tests/tools/smart-git-push-tool-v2.test.ts
Due: eslint-check, test-suite, build-check

fix(security): broaden CamelCase regex to match single-hump words
  src/utils/file-system.ts
Due: eslint-check, test-suite, build-check

test: add ripgrep-wrapper tests and improve env-registry coverage
  .repo-governor/acceptance/1597.json
  src/utils/environment-capability-registry.ts
  tests/utils/environment-capability-registry.test.ts
  tests/utils/ripgrep-wrapper.test.ts
Due: eslint-check, test-suite, build-check

fix(security): resolve CodeQL ReDoS and shell-from-input alerts (#1598)
  .repo-governor/acceptance/1597.json
  src/index.ts
  src/tools/smart-git-push-tool-v2.ts
  src/utils/environment-capability-registry.ts
  src/utils/file-system.ts
  src/utils/research-orchestrator.ts
  src/utils/ripgrep-wrapper.ts
  tests/tools/smart-git-push-tool-v2.test.ts
  tests/utils/environment-capability-registry.test.ts
  tests/utils/ripgrep-wrapper.test.ts
Due: eslint-check, test-suite, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
