Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore: bump version to v2.7.38
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.38 (#1599)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(resources): honour PROJECT_PATH in code_quality and deployment_history (#1587)
  .repo-governor/acceptance/1553.json
  .repo-governor/decisions/decisions.jsonl
  src/resources/code-quality-resource.ts
  src/resources/deployment-history-resource.ts
  src/utils/config.ts
  tests/config.test.ts
  tests/resources/code-quality-resource.test.ts
  tests/resources/deployment-history-resource.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.39
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.39 (#1600)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(security): replace parseTodoTasks regex with imperative parsing
  src/mcp-adr-analysis-server.ts
Due: eslint-check, test-suite, build-check

test: add unit tests for dispatchTool switch arms (#1416)
  tests/tools/tool-dispatch.test.ts
Due: eslint-check, test-suite, build-check

refactor(tools): one MCP_TOOL_SCHEMAS list for ListTools, dispatch, and catalog (#1592)
  .repo-governor/decisions/decisions.jsonl
  src/index.ts
  src/mcp-adr-analysis-server.ts
  src/tools/mcp-tool-schemas.ts
  src/tools/tool-catalog.ts
  src/tools/tool-dispatch.ts
  src/tools/tool-dispatcher.ts
  tests/integration/aggregator-endpoint-mapping.test.ts
  tests/tools/tool-dispatch.test.ts
  tests/utils/knowledge-graph-manager.test.ts
  tests/version.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.40
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.40 (#1603)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(tests): un-skip rule-generation-tool pattern test (#744)
  .repo-governor/acceptance/744.json
  tests/tools/rule-generation-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): un-skip all 19 interactive-adr-planning tests (#743)
  .repo-governor/acceptance/743.json
  tests/tools/interactive-adr-planning-tool.test.ts
Due: eslint-check, test-suite, build-check

docs(naming): rename "Knowledge Graph" to "Session & Tool-Usage Tracker" (#1548)
  .github/copilot-instructions.md
  .repo-governor/acceptance/1548.json
  README.md
  docs/README.md
  docs/explanation/ai-architecture-concepts.md
  docs/explanation/ai-workflow-concepts.md
  docs/explanation/architecture-overview.md
  docs/explanation/context-file-tool-coverage.md
  docs/explanation/index.md
  docs/explanation/knowledge-graph.md
  docs/explanation/mcp-concepts.md
  docs/explanation/prompt-engineering.md
  docs/explanation/self-learning-architecture.md
  docs/explanation/server-architecture.md
  docs/knowledge-graph-resource-tool.md
  docs/notes/knowledge-graph.md
  docs/reference/glossary.md
  docs/technical.md
  src/mcp-adr-analysis-server.ts
  src/prompts/research-question-prompts.ts
  src/resources/knowledge-graph-resource.ts
  src/tools/conversation-memory-tool.ts
  src/tools/interactive-adr-planning-tool.ts
  src/tools/mcp-tool-schemas.ts
  src/tools/perform-research-tool.ts
  src/tools/tool-catalog.ts
  src/utils/research-orchestrator.ts
  src/utils/server-context-generator.ts
Due: eslint-check, test-suite, build-check

fix(docs): run npm audit fix and add docs/ to dependabot (#1338)
  .github/dependabot.yml
  .repo-governor/acceptance/1338.json
  docs/package-lock.json
Due: build-check

chore: complete Jest → Vitest migration cleanup (#751)
  .github/copilot-instructions.md
  .github/labels.yml
  .repo-governor/acceptance/751.json
  docs/CONTRIBUTING.md
  docs/DEPENDABOT.md
  docs/TESTING_GUIDE.md
  docs/atomic-tool-template.md
  docs/development.md
  docs/how-to-guides/deploy-your-own-server.md
  docs/how-to-guides/performance-testing.md
  docs/how-to-guides/testing-guide.md
  docs/how-to-guides/tool-development.md
  docs/test-infrastructure-simplification-summary.md
  docs/testing-improvements-adr-018.md
  src/mcp-adr-analysis-server.ts
  src/utils/directory-compat.ts
  src/utils/test-aware-defaults.ts
  src/utils/tree-sitter-analyzer.ts
  tests/setup.ts
  tests/utils/esm-mock-helper.ts
  tests/utils/tree-sitter-jest-integration.test.ts
Due: eslint-check, test-suite, build-check

refactor(tests): delete placeholder tests and fix assertions (#1477)
  .repo-governor/acceptance/1477.json
  tests/index.test.ts
  tests/utils/environment-capability-registry.test.ts
  tests/utils/research-orchestrator-delegation.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): un-skip rule-generation-tool pattern test (#744) (#1604)
  .repo-governor/acceptance/744.json
  tests/tools/rule-generation-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.41
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.41 (#1610)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(tests): un-skip all 19 interactive-adr-planning tests (#743) (#1605)
  .repo-governor/acceptance/743.json
  tests/tools/interactive-adr-planning-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.42
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.42 (#1613)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(tests): update prompt test assertions after KG rename (#1548)
  tests/prompts/research-question-prompts.test.ts
Due: eslint-check, test-suite, build-check

docs(naming): rename "Knowledge Graph" to "Session & Tool-Usage Tracker" (#1548) (#1606)
  .github/copilot-instructions.md
  .repo-governor/acceptance/1548.json
  README.md
  docs/README.md
  docs/explanation/ai-architecture-concepts.md
  docs/explanation/ai-workflow-concepts.md
  docs/explanation/architecture-overview.md
  docs/explanation/context-file-tool-coverage.md
  docs/explanation/index.md
  docs/explanation/knowledge-graph.md
  docs/explanation/mcp-concepts.md
  docs/explanation/prompt-engineering.md
  docs/explanation/self-learning-architecture.md
  docs/explanation/server-architecture.md
  docs/knowledge-graph-resource-tool.md
  docs/notes/knowledge-graph.md
  docs/reference/glossary.md
  docs/technical.md
  src/mcp-adr-analysis-server.ts
  src/prompts/research-question-prompts.ts
  src/resources/knowledge-graph-resource.ts
  src/tools/conversation-memory-tool.ts
  src/tools/interactive-adr-planning-tool.ts
  src/tools/mcp-tool-schemas.ts
  src/tools/perform-research-tool.ts
  src/tools/tool-catalog.ts
  src/utils/research-orchestrator.ts
  src/utils/server-context-generator.ts
  tests/prompts/research-question-prompts.test.ts
Due: eslint-check, test-suite, build-check

fix(docs): run npm audit fix and add docs/ to dependabot (#1338) (#1607)
  .github/dependabot.yml
  .repo-governor/acceptance/1338.json
  docs/package-lock.json
Due: build-check

chore: bump version to v2.7.43
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.43 (#1618)
  package-lock.json
  package.json
Due: npm-audit, build-check

refactor(tests): delete placeholder tests and fix assertions (#1477) (#1609)
  .repo-governor/acceptance/1477.json
  tests/index.test.ts
  tests/utils/environment-capability-registry.test.ts
  tests/utils/research-orchestrator-delegation.test.ts
Due: eslint-check, test-suite, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
