Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

fix: Resolve CI test timeout in troubleshoot-guided-workflow-tool
  tests/tools/troubleshoot-guided-workflow-tool.test.ts
Due: eslint-check, test-suite, build-check

feat(config): implement comprehensive coding standards enforcement
  .commitlintrc.json
  .editorconfig
  CODING_STANDARDS_IMPLEMENTATION.md
  docs/CONTRIBUTING.md
  package.json
Due: npm-audit, build-check

fix(testing): resolve timeout issue in troubleshoot workflow test
  tests/tools/troubleshoot-guided-workflow-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(ci): refactor MCP server smoke tests to use proper protocol validation
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/publish.yml
  package.json
  scripts/test-mcp-server.sh
Due: npm-audit, build-check

feat: integrate Release Drafter with auto-release workflows
  .github/workflows/ai-release-notes.yml
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
  scripts/test-release-integration.sh
Due: none

fix(ci): resolve @dependabot command not found errors in workflows
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

feat(ci): integrate publish workflow with Release Drafter
  .github/workflows/publish.yml
Due: none

chore: bump version to 2.1.1
  package-lock.json
  package.json
Due: npm-audit, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
