Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore(scripts): rebuild sync-tags-to-npm.sh as a real reconciliation tool (#868)
  scripts/sync-tags-to-npm.sh
Due: none

fix(scripts): pre-flight reject tags whose package.json doesn't match tag name
  scripts/sync-tags-to-npm.sh
Due: none

fix(scripts): pre-flight reject tags whose package.json doesn't match tag name (#869)
  scripts/sync-tags-to-npm.sh
Due: none

chore: bump version to v2.6.2
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.2 (#870)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): tag the version-bump commit, not the merge commit, in auto-release
  .github/workflows/auto-release-on-merge.yml
Due: none

fix(ci): tag the version-bump commit, not the merge commit, in auto-release (#871)
  .github/workflows/auto-release-on-merge.yml
Due: none

fix(ci): upgrade npm to >=11.5.1 so Trusted Publishing actually authenticates
  .github/workflows/publish.yml
Due: none

fix(ci): upgrade npm to >=11.5.1 so Trusted Publishing actually authenticates (#876)
  .github/workflows/publish.yml
Due: none

chore: bump version to v2.6.3
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): work around npm self-upgrade MODULE_NOT_FOUND race
  .github/workflows/publish.yml
Due: none

fix(ci): work around npm self-upgrade MODULE_NOT_FOUND race (#879)
  .github/workflows/publish.yml
Due: none

chore: bump version to v2.6.4
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(ci): remove temporary OIDC token claims diagnostic
  .github/workflows/publish.yml
Due: none

fix(ci): support optional RELEASE_TOKEN to avoid bot-PR / no-CI deadlock
  .github/workflows/auto-release-on-merge.yml
Due: none

chore(ci): remove temporary OIDC token claims diagnostic (#881)
  .github/workflows/publish.yml
Due: none

chore(backfill): apply publish.yml fixes for v2.6.0
  .github/workflows/publish.yml
Due: none

fix(ci): support optional RELEASE_TOKEN to avoid bot-PR / no-CI deadlock (#882)
  .github/workflows/auto-release-on-merge.yml
Due: none

chore(backfill): apply publish.yml fixes for v2.6.1
  .github/workflows/publish.yml
Due: none

chore(backfill): apply publish.yml fixes for v2.6.2
  .github/workflows/publish.yml
Due: none

fix(ci): don't downgrade npm 'latest' dist-tag when publishing older versions
  .github/workflows/publish.yml
Due: none

fix(ci): don't downgrade npm 'latest' dist-tag when publishing older versions (#884)
  .github/workflows/publish.yml
Due: none

fix: regression-guard tsconfig rootDir to prevent dist/src/src/ nesting
  package.json
  scripts/validate-build.js
  tsconfig.json
Due: npm-audit, eslint-check, test-suite, build-check

fix: regression-guard tsconfig rootDir to prevent dist/src/src/ nesting (#886)
  package.json
  scripts/validate-build.js
  tsconfig.json
Due: npm-audit, eslint-check, test-suite, build-check

chore: bump version to v2.6.5
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): tolerate close+reopen on bump PR (don't abort on first CLOSED poll)
  .github/workflows/auto-release-on-merge.yml
Due: none

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
