Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore: bump version to v2.6.16
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.16 (#1434)
  package-lock.json
  package.json
Due: npm-audit, build-check

test(ci): assert the four gh-aw validators run their agent to success
  scripts/check-validator-activation.sh
Due: none

test(ci): assert the four gh-aw validators run their agent to success (#1437)
  scripts/check-validator-activation.sh
Due: none

chore: bump version to v2.6.17
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.17 (#1438)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): make the validator check assert capability, not the latest run
  scripts/check-validator-activation.sh
Due: none

fix(ci): make the validator check assert capability, not the latest run (#1439)
  scripts/check-validator-activation.sh
Due: none

chore: bump version to v2.6.18
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.18 (#1446)
  package-lock.json
  package.json
Due: npm-audit, build-check

test(ci): verify the packaged artifact resolves at runtime
  .github/workflows/test.yml
  .repo-governor/acceptance/1409.json
  scripts/verify-packaged-runtime.sh
Due: build-check

fix(deps): move openai to runtime dependencies
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(deps): move openai to runtime dependencies (#1419)
  .github/workflows/test.yml
  .repo-governor/acceptance/1409.json
  package-lock.json
  package.json
  scripts/verify-packaged-runtime.sh
Due: npm-audit, build-check

chore: bump version to v2.6.19
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.19 (#1451)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.20
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.20 (#1452)
  package-lock.json
  package.json
Due: npm-audit, build-check

test(mcp): boot the server and speak MCP, replacing the grep-the-bundle guard
  .github/workflows/test.yml
  tests/integration/mcp-protocol.test.ts
Due: eslint-check, test-suite, build-check

test(mcp): boot the server and speak MCP, replacing the grep-the-bundle guard (#1453)
  .github/workflows/test.yml
  tests/integration/mcp-protocol.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.6.21
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.21 (#1454)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(adr): ADR-021 — evidence for the AI-layer disposition, decision left open
  docs/adrs/README.md
  docs/adrs/adr-021-ai-layer-disposition.md
Due: none

fix(ce-mcp): stop the AI layer misreporting its own state
  src/index.ts
  src/tools/ce-mcp-tools.ts
  src/tools/tool-catalog.ts
  tests/tools/ce-mcp-directives.test.ts
Due: eslint-check, test-suite, build-check

docs(adr): ADR-021 — evidence for the AI-layer disposition, decision left open (#1455)
  docs/adrs/README.md
  docs/adrs/adr-021-ai-layer-disposition.md
Due: none

chore: bump version to v2.6.22
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.22 (#1457)
  package-lock.json
  package.json
Due: npm-audit, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
