Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

feat: Add GitHub Actions validation agents for MCP server subsystems
  .github/agents/README.md
  .github/agents/ai-executor-integration.yml
  .github/agents/deployment-pattern-validation.yml
  .github/agents/esm-module-validation.yml
  .github/agents/knowledge-graph-validation.yml
  .github/agents/mcp-server-validation.yml
  .github/agents/tool-chain-orchestrator-validation.yml
Due: none

feat: Add Mermaid diagram generation utilities for ADRs and documentation
  .github/copilot-instructions.md
  src/utils/mermaid-diagrams.ts
Due: eslint-check, test-suite, build-check

fix: Increase test timeouts for long-running tests
  tests/tools/adr-suggestion-tool.test.ts
  tests/tools/troubleshoot-guided-workflow-tool.test.ts
Due: eslint-check, test-suite, build-check

fix: Resolve npm audit vulnerabilities (glob, js-yaml)
  package-lock.json
Due: build-check

Fix Jest test timeout failures
  tests/tools/adr-suggestion-tool.test.ts
  tests/tools/deployment-guidance-tool.test.ts
  tests/tools/environment-analysis-tool.test.ts
  tests/tools/troubleshoot-guided-workflow-tool.test.ts
  tests/utils/research-orchestrator.test.ts
Due: eslint-check, test-suite, build-check

fix: remove inconsistent gitignore entries for tracked directories
  .gitignore
Due: none

chore: update research documentation dates
  custom/research/README.md
  custom/research/dir/perform_research_test_research_001.md
  docs/context/research/latest.md
  docs/research/README.md
  docs/research/perform_research_test_research_001.md
  docs/research/perform_research_test_research__________001.md
  docs/research/perform_research_test_unicode.md
  package-lock.json
Due: build-check
