Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

docs: add GitHub Support request template for secret removal
  GITHUB_SUPPORT_REQUEST.md
Due: none

Update research documentation with new timestamps and remove obsolete files
  docs/context/research/latest.md
  package-lock.json
Due: build-check

fix: resolve DAG executor test failures and add npm tag publishing guide
  docs/how-to-guides/push-tags-to-npm.md
  src/utils/dag-executor.ts
  tests/utils/dag-executor.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to 2.1.20
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: properly mock util.promisify for DAG executor tests
  tests/utils/dag-executor.test.ts
Due: eslint-check, test-suite, build-check

feat: auto-create issues on workflow failures, fix dashboard conflicts
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/update-dashboard.yml
Due: none

chore: disable update-dashboard workflow, update gitignore
  .github/workflows/update-dashboard.yml.disabled
  .gitignore
Due: none

chore: release v2.1.21
  package-lock.json
  package.json
Due: npm-audit, build-check

feat: add get_current_datetime tool and auto-date ADR generation
  src/index.ts
  src/prompts/adr-suggestion-prompts.ts
Due: eslint-check, test-suite, build-check

docs(adrs): add cross-references between related ADRs
  docs/adrs/adr-003-memory-centric-architecture.md
  docs/adrs/adr-004-security-and-content-masking-strategy.md
  docs/adrs/adr-005-testing-and-quality-assurance-strategy.md
  docs/adrs/adr-006-tree-sitter-integration-strategy.md
  docs/adrs/adr-007-cicd-pipeline-strategy.md
  docs/adrs/adr-008-development-workflow-strategy.md
  docs/adrs/adr-009-package-distribution-strategy.md
  docs/adrs/adr-010-bootstrap-deployment-architecture.md
  docs/adrs/adr-013-documentation-platform-strategy.md
Due: none

feat: implement CE-MCP architecture foundation
  docs/adrs/README.md
  docs/adrs/adr-001-mcp-protocol-implementation-strategy.md
  docs/adrs/adr-002-ai-integration-and-advanced-prompting-strategy.md
  docs/adrs/adr-014-ce-mcp-architecture.md
  src/config/ai-config.ts
  src/prompts/prompt-catalog.ts
  src/types/ce-mcp.ts
  src/utils/sandbox-executor.ts
Due: eslint-check, test-suite, build-check

feat(ce-mcp): implement Phase 3 dynamic tool discovery
  src/index.ts
  src/tools/tool-catalog.ts
  src/tools/tool-dispatcher.ts
  tests/config/ai-config.test.ts
  tests/tools/tool-catalog.test.ts
  tests/tools/tool-dispatcher.test.ts
Due: eslint-check, test-suite, build-check

feat(ce-mcp): complete Phase 4.2 tool migration
  src/tools/tool-catalog.ts
Due: eslint-check, test-suite, build-check

feat(ce-mcp): complete Phase 4.3 - migrate all 59 tools to CE-MCP directives
  src/tools/tool-catalog.ts
Due: eslint-check, test-suite, build-check

feat(ce-mcp): complete Phase 4.4 cleanup and optimization
  docs/IMPLEMENTATION-PLAN.md
  src/index.ts
  src/utils/ai-executor.ts
  src/utils/prompt-execution.ts
  src/utils/sandbox-executor.ts
Due: eslint-check, test-suite, build-check

feat(ce-mcp): enable CE-MCP mode by default with directive routing
  src/index.ts
Due: eslint-check, test-suite, build-check

feat(session): add set_project_path tool for dynamic project switching
  src/index.ts
Due: eslint-check, test-suite, build-check

feat: add ripgrep as required dependency with startup validation
  README.md
  package.json
  scripts/check-ripgrep.sh
  src/index.ts
  src/utils/server-context-generator.ts
Due: npm-audit, eslint-check, test-suite, build-check

fix: add missing ce-mcp-tools.ts to version control
  src/tools/ce-mcp-tools.ts
Due: eslint-check, test-suite, build-check

test: skip failing ESM dynamic import tests and increase timeout
  tests/smart-git-push.test.ts
  tests/utils/research-questions.test.ts
Due: eslint-check, test-suite, build-check

fix: add child_process mock to resolve Jest ESM dynamic import errors
  jest.config.js
  tests/__mocks__/child_process.ts
Due: eslint-check, test-suite, build-check
