Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

feat(bootstrap): add OpenShift Validated Patterns framework guide link
  src/tools/bootstrap-validation-loop-tool.ts
Due: eslint-check, test-suite, build-check

feat(patterns): add dynamic pattern system with automated validation
  .github/workflows/validate-patterns.yml
  docs/context/README.md
  docs/how-to-guides/dynamic-pattern-configuration-system.md
  package-lock.json
  package.json
  patterns/CONTRIBUTING.md
  patterns/README.md
  patterns/infrastructure/aws.yaml
  patterns/infrastructure/firebase.yaml
  patterns/infrastructure/kubernetes.yaml
  patterns/infrastructure/openshift.yaml
  patterns/schema.json
  src/tools/bootstrap-validation-loop-tool.ts
  src/utils/context-document-manager.ts
  src/utils/pattern-loader.ts
  tests/utils/context-document-manager.test.ts
  tests/utils/pattern-loader.test.ts
  tests/utils/pattern-validation.test.ts
Due: npm-audit, eslint-check, test-suite, build-check

docs: update research documentation and add tool context plan
  custom/research/README.md
  custom/research/dir/perform_research_test_research_001.md
  docs/how-to-guides/tool-context-documentation-plan.md
  docs/research/README.md
  docs/research/perform_research_test_research_001.md
  docs/research/perform_research_test_research__________001.md
  docs/research/perform_research_test_unicode.md
Due: none

feat: add full validated pattern snapshot and research context persistence
  docs/context/research/latest.md
  docs/context/research/perform-research-2025-10-20T15-31-34-312Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-314Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-316Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-318Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-319Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-321Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-323Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-326Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-328Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-329Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-331Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-332Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-335Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-336Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-338Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-340Z.md
  docs/context/research/perform-research-2025-10-20T15-31-34-342Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-479Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-481Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-482Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-484Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-486Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-487Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-489Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-491Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-492Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-494Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-495Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-497Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-501Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-503Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-504Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-505Z.md
  docs/context/research/perform-research-2025-10-20T15-38-18-507Z.md
  src/tools/bootstrap-validation-loop-tool.ts
  src/tools/perform-research-tool.ts
  tests/tools/bootstrap-validation-loop-tool.test.ts
Due: eslint-check, test-suite, build-check

feat(bootstrap): implement hybrid DAG architecture for infrastructure deployment
  docs/how-to-guides/hybrid-dag-bootstrap-design.md
  src/tools/bootstrap-validation-loop-tool.ts
  src/utils/dag-executor.ts
  src/utils/pattern-contribution-helper.ts
  src/utils/pattern-to-dag-converter.ts
Due: eslint-check, test-suite, build-check

test(integration): add comprehensive E2E test for hybrid DAG architecture with Kubernetes pattern
  tests/integration/hybrid-dag-kubernetes.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): increase timeout for deployment-guidance-tool test on Node.js 22
  tests/tools/deployment-guidance-tool.test.ts
Due: eslint-check, test-suite, build-check

feat: add validated pattern resources and prompts for MCP server
  src/index.ts
  src/prompts/index.ts
  src/prompts/validated-pattern-prompts.ts
  src/resources/pattern-base-code-by-platform-resource.ts
  src/resources/pattern-sources-by-platform-resource.ts
  src/resources/validated-pattern-by-platform-resource.ts
  src/resources/validated-patterns-catalog-resource.ts
Due: eslint-check, test-suite, build-check

fix(docs): update server context generator with complete tool documentation
  src/utils/server-context-generator.ts
Due: eslint-check, test-suite, build-check
