Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore: bump version to 2.1.25
  package-lock.json
  package.json
Due: npm-audit, build-check

ci: remove environment from OIDC publish (no env configured on NPM)
  .github/workflows/publish.yml
Due: none

chore: bump version to 2.1.26
  package-lock.json
  package.json
Due: npm-audit, build-check

ci: upgrade to Node 22 for npm 11+ OIDC Trusted Publishing support
  .github/workflows/publish.yml
Due: none

chore: bump version to 2.1.27
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: add ADR Aggregator integration documentation and tests
  docs/how-to-guides/adr-aggregator-integration.md
  docs/reference/api-reference.md
  tests/integration/adr-aggregator-tools.test.ts
Due: eslint-check, test-suite, build-check

deps-dev: bump vitest and @vitest/coverage-v8 to 4.0.17
  package-lock.json
  package.json
Due: npm-audit, build-check

deps-dev: bump vitest and @vitest/coverage-v8 to 4.0.17 (#415)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to 2.1.28
  package-lock.json
  package.json
Due: npm-audit, build-check

feat: adopt GitHub Agentic Workflows (gh-aw) for CI/CD automation
  .github/agents/README.md
  .github/agents/agentic-workflows.agent.md
  .github/agents/ai-executor-integration.yml
  .github/agents/deployment-pattern-validation.yml
  .github/agents/esm-module-validation.yml
  .github/agents/knowledge-graph-validation.yml
  .github/agents/mcp-server-validation.yml
  .github/agents/tool-chain-orchestrator-validation.yml
  .github/aw/actions-lock.json
  .github/copilot-instructions.md
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-executor-integration.md
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ai-release-notes-agent.md
  .github/workflows/ai-release-notes.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/dependabot-bundler.md
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/deployment-pattern-validation.md
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-noob-tester.md
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/esm-module-validation.md
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/knowledge-graph-validation.md
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-server-validation.md
  .github/workflows/mcp-tool-checker.lock.yml
  .github/workflows/mcp-tool-checker.md
  .github/workflows/tool-chain-orchestrator-validation.lock.yml
  .github/workflows/tool-chain-orchestrator-validation.md
Due: build-check

feat: add docs site validator agentic workflow
  .github/copilot-instructions.md
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/docs-site-validator.md
Due: none

fix(deps): resolve npm audit vulnerabilities blocking CI (#438)
  docs/adrs/adr-0001-test-decision.md
  package-lock.json
Due: build-check

fix: rename copilot-setup-steps job to match required naming convention
  .github/workflows/copilot-setup-steps.yml
Due: none

[WIP] Update dev dependencies for testing and build tools (#443)
  package-lock.json
Due: build-check

docs: improve new developer onboarding experience
  README.md
Due: none

docs: improve new developer onboarding experience (#458)
  README.md
Due: none

ci: fix dependency installation for pattern validation workflows
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deployment-pattern-validation.md
  .github/workflows/validate-patterns.yml
Due: none

ci: fix dependency installation for pattern validation workflows (#460)
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deployment-pattern-validation.md
  .github/workflows/validate-patterns.yml
Due: none

ci: add dependency installation to agentic workflow instructions
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/knowledge-graph-validation.md
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-server-validation.md
Due: none

ci: add dependency installation to agentic workflow instructions (#464)
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/knowledge-graph-validation.md
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-server-validation.md
Due: none

ci: use PR-based version bump for auto-release workflows
  .github/AUTO-RELEASE-GUIDE.md
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

ci: use PR-based version bump for auto-release workflows (#468)
  .github/AUTO-RELEASE-GUIDE.md
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

ci: gracefully handle disabled auto-merge in version-bump step
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

fix: resolve lint errors in knowledge graph test files
  tests/utils/conversation-memory-manager.test.ts
  tests/utils/knowledge-graph-manager.test.ts
Due: eslint-check, test-suite, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
