Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

fix(ci): tolerate close+reopen on bump PR (don't abort on first CLOSED poll) (#890)
  .github/workflows/auto-release-on-merge.yml
Due: none

chore: bump version to v2.6.6
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: resolve npm audit vulnerabilities in production dependencies
  package-lock.json
Due: build-check

docs: add issue templates (#938)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: bump version to v2.6.7
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.6.8
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: fix SECURITY.md and link from CONTRIBUTING.md (closes #758)
  CONTRIBUTING.md
  SECURITY.md
Due: none

chore: add canonical labels.yml and label-sync workflow (closes #754)
  .github/labels.yml
  .github/workflows/label-sync.yml
  CONTRIBUTING.md
Due: none

docs: publish CE-MCP migration playbook to docs site (closes #749)
  README.md
  docs/adrs/adr-014-ce-mcp-architecture.md
  docs/how-to-guides/ce-mcp-migration-playbook.md
  docs/how-to-guides/index.md
Due: none

fix: revert gh-aw-actions/setup in all lock files from v0.71.4 to v0.68.3
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-tool-checker.lock.yml
Due: none

docs: promote ADR-014 to Accepted and backfill v2.6.0 CHANGELOG (closes #739)
  CHANGELOG.md
  docs/adrs/adr-014-ce-mcp-architecture.md
Due: none

docs: consolidate plan docs into docs/planning/ (closes #745)
  docs/CONVERSION_CHECKLIST.md
  docs/DOCKER_SETUP.md
  docs/DOCUSAURUS_QUICKSTART.md
  docs/how-to-guides/ce-mcp-migration-playbook.md
  docs/planning/DOCUMENTATION-UPDATE-PLAN.md
  docs/planning/DOCUMENTATION_IMPROVEMENT_PLAN.md
  docs/planning/DOCUSAURUS_MIGRATION.md
  docs/planning/IMPLEMENTATION-PLAN.md
  docs/planning/README.md
Due: none

fix(deps): bump @mendable/firecrawl-js to 4.25.2 to patch axios high-sev advisories
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(deps): bump @mendable/firecrawl-js to 4.25.2 to patch axios high-sev advisories (#997)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v3.0.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: gitignore MCP registry publishing tokens
  .gitignore
Due: none

chore: gitignore MCP registry publishing tokens (#1000)
  .gitignore
Due: none

chore: bump version to v2.6.9
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(changelog): add [2.6.9] release notes
  CHANGELOG.md
Due: none

fix(ci): make MCP Registry publish fire on tag releases + add manual dispatch
  .github/workflows/publish-mcp-registry.yml
Due: none

fix(ci): make MCP Registry publish fire on tag releases + add manual dispatch (#1002)
  .github/workflows/publish-mcp-registry.yml
Due: none

fix(ci): fix broken version step in MCP Registry publish
  .github/workflows/publish-mcp-registry.yml
Due: none

fix(ci): fix broken version step in MCP Registry publish (#1005)
  .github/workflows/publish-mcp-registry.yml
Due: none

chore: bump version to v2.6.10
  package-lock.json
  package.json
Due: npm-audit, build-check
