Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

chore: bump version to v2.7.4
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.4 (#1478)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(adr): tag ADR-023, completing the corpus
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

chore(adr): tag ADR-023, completing the corpus (#1479)
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

chore: bump version to v2.7.5
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: add the pull request template CONTRIBUTING already promises
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: bump version to v2.7.5 (#1480)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: add the pull request template CONTRIBUTING already promises (#1481)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs(readme): link the roadmap milestones — #738's last open criterion
  README.md
Due: none

docs: milestone 1 is a theme, not a version — retitle references
  README.md
  RELEASES.md
Due: none

docs(readme): link the roadmap milestones — #738's last open criterion (#1483)
  README.md
  RELEASES.md
Due: none

chore: bump version to v2.7.6
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.6 (#1482)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(gate): decision-milestone exit gate, written red — 12 of 13 assertions fail
  scripts/check-decision-gate.sh
Due: none

docs(adr): ADR-023 claimed no usage data is recorded — it is recorded and discarded
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

chore(gate): decision-milestone exit gate, written red — 12 of 13 assertions fail (#1496)
  scripts/check-decision-gate.sh
Due: none

chore: bump version to v2.7.7
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.7 (#1498)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(governance): bind a retirement provider and commit the manifest
  .repo-governor.json
Due: build-check

docs(adr): ADR-023 claimed no usage data is recorded — it is recorded and discarded (#1497)
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

chore: bump version to v2.7.8
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.8 (#1500)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(governance): bind a retirement provider and commit the manifest (#1499)
  .repo-governor.json
Due: build-check

chore: bump version to v2.7.9
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.9 (#1501)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: usage evidence was computed, truncated, and written where the OS deletes it
  scripts/check-decision-gate.sh
  src/index.ts
  src/utils/knowledge-graph-manager.ts
  tests/integration/cemcp-usage-tracking.test.ts
  tests/utils/knowledge-graph-manager.test.ts
Due: eslint-check, test-suite, build-check

fix: usage evidence was computed, truncated, and written where the OS deletes it (#1502)
  scripts/check-decision-gate.sh
  src/index.ts
  src/utils/knowledge-graph-manager.ts
  tests/integration/cemcp-usage-tracking.test.ts
  tests/utils/knowledge-graph-manager.test.ts
Due: eslint-check, test-suite, build-check
