Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

chore: release v2.1.12
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: release v2.1.13
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: release v2.1.14
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: release v2.1.15
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: release v2.1.16
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: release v2.1.17
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: release v2.1.18
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: release v2.1.19
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(deps-dev): bump lint-staged from 16.2.5 to 16.2.7
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: restore VAULT_SETUP.md with placeholder API key
  playbooks/VAULT_SETUP.md
Due: none

chore: add vault.yml to gitignore and format VAULT_SETUP.md
  .gitignore
Due: none

docs: add GitHub Support request template for secret removal
  GITHUB_SUPPORT_REQUEST.md
Due: none

fix: resolve DAG executor test failures and add npm tag publishing guide
  docs/how-to-guides/push-tags-to-npm.md
  src/utils/dag-executor.ts
  tests/utils/dag-executor.test.ts
Due: eslint-check, test-suite, build-check

Update research documentation with new timestamps and remove obsolete files
  .github/workflows/publish.yml
Due: none

Update research documentation with new timestamps and remove obsolete files
  docs/context/research/latest.md
  package-lock.json
Due: build-check
