Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

feat: implement Phase 3 MCP resources (PR #346)
  src/resources/adrs-review-resource.ts
  src/resources/architectural-context-resource.ts
  src/resources/memory-expand-resource.ts
  tests/resources/adrs-review-resource.test.ts
  tests/resources/architectural-context-resource.test.ts
  tests/resources/memory-expand-resource.test.ts
Due: eslint-check, test-suite, build-check

fix: prefix unused variable with underscore in test
  tests/resources/conversation-snapshot-resource.test.ts
Due: eslint-check, test-suite, build-check

[WIP] Refactor read-only tools to MCP resources (#346)
  .copilot-summary.md
  src/index.ts
  src/resources/adrs-discovered-resource.ts
  src/resources/adrs-review-resource.ts
  src/resources/architectural-context-resource.ts
  src/resources/conversation-snapshot-resource.ts
  src/resources/memory-expand-resource.ts
  src/resources/memory-stats-resource.ts
  src/resources/server-context-resource.ts
  src/resources/tool-catalog-resource.ts
  tests/resources/adrs-discovered-resource.test.ts
  tests/resources/adrs-review-resource.test.ts
  tests/resources/architectural-context-resource.test.ts
  tests/resources/conversation-snapshot-resource.test.ts
  tests/resources/memory-expand-resource.test.ts
  tests/resources/memory-stats-resource.test.ts
  tests/resources/server-context-resource.test.ts
  tests/resources/tool-catalog-resource.test.ts
Due: eslint-check, test-suite, build-check

fix: resolve TypeScript lint errors in update-knowledge-tool
  src/tools/update-knowledge-tool.ts
Due: eslint-check, test-suite, build-check

fix: add missing jest imports and fix cache isolation in tests
  tests/resources/knowledge-graph-resource.test.ts
  tests/tools/update-knowledge-tool.test.ts
Due: eslint-check, test-suite, build-check

Convert KnowledgeGraphManager to MCP Resource with CRUD tool (ADR-018) (#353)
  docs/knowledge-graph-resource-tool.md
  src/index.ts
  src/resources/knowledge-graph-resource.ts
  src/tools/update-knowledge-tool.ts
  src/utils/knowledge-graph-manager.ts
  tests/resources/knowledge-graph-resource.test.ts
  tests/tools/update-knowledge-tool.test.ts
Due: eslint-check, test-suite, build-check

refactor: Remove ResearchOrchestrator from tools and skip slow tests (ADR-018)
  src/tools/adr-suggestion-tool.ts
  src/tools/environment-analysis-tool.ts
  tests/integration/hybrid-dag-kubernetes.test.ts
  tests/research-question-tool.test.ts
  tests/tools/adr-suggestion-tool.test.ts
  tests/tools/ce-mcp-tools.test.ts
  tests/tools/environment-analysis-tool.test.ts
  tests/tools/rule-generation-tool.test.ts
Due: eslint-check, test-suite, build-check

feat: add Vitest as testing framework (Phase 1 - proof of concept)
  docs/adrs/adr-019-vitest-migration.md
  package-lock.json
  package.json
  tests/tools/deployment-guidance-tool.vitest.ts
  tests/vitest.setup.ts
  vitest.config.ts
Due: npm-audit, eslint-check, test-suite, build-check

fix: update validate:patterns script to use Vitest instead of Jest
  package.json
Due: npm-audit, build-check

fix: update memory-transformation tests for Vitest compatibility
  tests/utils/memory-transformation.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): migrate research-questions.test.ts to Vitest
  tests/utils/research-questions.test.ts
Due: eslint-check, test-suite, build-check

fix: update rule-generation-tool tests for Vitest compatibility
  tests/tools/rule-generation-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): fix ESM mocking POC tests for Vitest
  tests/integration/esm-mocking-poc.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): fix deployment-readiness-tool tests for Vitest
  tests/tools/deployment-readiness-tool.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): convert jest.fn() to vi.fn() and fix class mocks for Vitest
  tests/index.test.ts
  tests/utils/output-masking.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): fix ResourceCache class mocks for Vitest ESM compatibility
  tests/resources/code-quality-resource.test.ts
  tests/resources/deployment-history-resource.test.ts
Due: eslint-check, test-suite, build-check

fix(tests): fix memory and tool tests for Vitest ESM compatibility
  tests/integration/memory-migration-integration.test.ts
  tests/integration/memory-migration-simple.test.ts
  tests/integration/memory-system-integration.test.ts
  tests/performance/memory-performance.test.ts
  tests/tools/adr-validation-tool.test.ts
  tests/tools/content-masking-tool.test.ts
  tests/tools/interactive-adr-planning-tool.test.ts
  tests/tools/memory-loading-tool.test.ts
  tests/tools/tool-chain-orchestrator.test.ts
  tests/utils/dag-executor.test.ts
  tests/utils/memory-entity-manager.test.ts
  tests/utils/memory-relationship-mapper.test.ts
Due: eslint-check, test-suite, build-check

fix(patterns): resolve yamllint errors in infrastructure patterns
  patterns/infrastructure/kubernetes.yaml
Due: none

fix(ci): replace non-existent mcp-documcp with markdown-link-check
  .github/workflows/docs-link-check.yml
Due: none

fix(ci): expand link check ignore patterns for CI compatibility
  .github/workflows/docs-link-check.yml
Due: none

docs(adr): add ADR-018 MCP Tasks Integration Strategy
  docs/adrs/adr-018-mcp-tasks-integration-strategy.md
Due: none

docs(adr): add troubleshooting tool to MCP Tasks integration candidates
  docs/adrs/adr-018-mcp-tasks-integration-strategy.md
Due: none

docs(adr): add adr_validation to MCP Tasks medium priority candidates
  docs/adrs/adr-018-mcp-tasks-integration-strategy.md
Due: none

docs(adr): promote interactive_adr_planning to high priority MCP Tasks candidate
  docs/adrs/adr-018-mcp-tasks-integration-strategy.md
Due: none

feat(tasks): implement MCP Tasks integration (ADR-020)
  docs/IMPLEMENTATION-PLAN.md
  docs/adrs/adr-020-mcp-tasks-integration-strategy.md
  src/utils/adr-planning-task-integration.ts
  src/utils/bootstrap-task-integration.ts
  src/utils/deployment-task-integration.ts
  src/utils/research-orchestrator.ts
  src/utils/research-task-integration.ts
  src/utils/task-manager.ts
  src/utils/task-persistence.ts
  tests/utils/adr-planning-task-integration.test.ts
  tests/utils/bootstrap-task-integration.test.ts
  tests/utils/deployment-task-integration.test.ts
  tests/utils/research-orchestrator-delegation.test.ts
  tests/utils/research-task-integration.test.ts
  tests/utils/task-manager.test.ts
Due: eslint-check, test-suite, build-check

Feature/mcp tasks integration (#363)
  docs/IMPLEMENTATION-PLAN.md
  docs/adrs/adr-018-mcp-tasks-integration-strategy.md
  docs/adrs/adr-020-mcp-tasks-integration-strategy.md
  src/utils/adr-planning-task-integration.ts
  src/utils/bootstrap-task-integration.ts
  src/utils/deployment-task-integration.ts
  src/utils/research-orchestrator.ts
  src/utils/research-task-integration.ts
  src/utils/task-manager.ts
  src/utils/task-persistence.ts
  tests/utils/adr-planning-task-integration.test.ts
  tests/utils/bootstrap-task-integration.test.ts
  tests/utils/deployment-task-integration.test.ts
  tests/utils/research-orchestrator-delegation.test.ts
  tests/utils/research-task-integration.test.ts
  tests/utils/task-manager.test.ts
Due: eslint-check, test-suite, build-check

chore(docs): remove diataxis scaffolding and link check workflow
  .github/workflows/docs-link-check.yml
  docs/diataxis-index.md
  docs/notes/media/diataxis-index.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#364)
  README.md
Due: none

chore: bump version to 2.1.22
  package.json
Due: npm-audit, build-check

Delete IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
Due: none
