Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

chore: bump version to v2.14.9 (#1704)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(security): bump js-yaml 4.3.1 → 4.3.2 (GHSA-2883-xcg3-v3hh)
  .repo-governor/acceptance/1721.json
  package-lock.json
Due: build-check

chore: bump version to v2.14.10
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.10 (#1722)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: add acceptance criteria for secret scanning alerts #1723, #1724
  .repo-governor/acceptance/1723.json
  .repo-governor/acceptance/1724.json
Due: build-check

fix(security): resolve 7 dependency vulnerabilities in docs/package-lock.json
  .repo-governor/acceptance/1725.json
  docs/package-lock.json
  docs/package.json
Due: npm-audit, build-check

fix(security): resolve 6 CodeQL alerts (ReDoS, sanitization, rate limiting)
  .repo-governor/acceptance/1726.json
  sample-project/package.json
  sample-project/server.js
  scripts/ai-release-notes.ts
  src/utils/adr-format.ts
  src/utils/json-safe.ts
  src/utils/platform-detector.ts
Due: npm-audit, eslint-check, test-suite, build-check

chore: bump version to v2.14.11
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): revert gh-aw setup pin in compiled lock files, ignore in dependabot
  .github/dependabot.yml
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-tool-checker.lock.yml
Due: none

chore: bump version to v2.14.11 (#1727)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(security): loop HTML tag removal until stable to prevent nested bypass
  .repo-governor/acceptance/1729.json
  scripts/ai-release-notes.ts
Due: eslint-check, test-suite, build-check

fix(ci): revert gh-aw setup pin in compiled lock files, ignore in dependabot (#1357)
  .github/dependabot.yml
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-tool-checker.lock.yml
Due: none

chore(deps): ignore tree-sitter >=0.22.0 in Dependabot (ADR-017)
  .github/dependabot.yml
Due: none

fix: migrate js-yaml imports for v5 compatibility
  .repo-governor/acceptance/1733.json
  src/utils/adr-format.ts
  tests/utils/adr-format.test.ts
Due: eslint-check, test-suite, build-check

deps(deps): upgrade js-yaml from 4.3.2 to 5.4.2 with import migration (#1734)
  .repo-governor/acceptance/1733.json
  package-lock.json
  package.json
  src/utils/adr-format.ts
  tests/utils/adr-format.test.ts
Due: npm-audit, eslint-check, test-suite, build-check

chore: bump version to v2.14.12
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.12 (#1735)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(publish): shorten description to ≤100 chars for MCP registry
  package.json
  server.json
Due: npm-audit, build-check

docs: add arc42 Software Design Document (DESIGN_DOC.md)
  DESIGN_DOC.md
Due: none

chore: bump version to v2.14.13
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.13 (#1738)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): resolve MCP Registry publish race condition
  .github/workflows/publish-mcp-registry.yml
Due: none

content: add 'Detecting ADR Drift Against Live Code' article draft
  articles/detecting-adr-drift-against-live-code.md
Due: none

docs: update 7 pages to CE-MCP-first positioning (63 tools, no API key)
  docs/explanation/ai-architecture-concepts.md
  docs/how-to-guides/mcp-client-compatibility.md
  docs/how-to-guides/troubleshooting.md
  docs/index.md
  docs/reference/environment-config.md
  docs/reference/mcp-client-config.md
  docs/tutorials/01-first-steps.md
Due: none

fix(ci): resolve MCP Registry publish race condition + CE-MCP docs update (#1740)
  .github/workflows/publish-mcp-registry.yml
  articles/detecting-adr-drift-against-live-code.md
  docs/explanation/ai-architecture-concepts.md
  docs/how-to-guides/mcp-client-compatibility.md
  docs/how-to-guides/troubleshooting.md
  docs/index.md
  docs/reference/environment-config.md
  docs/reference/mcp-client-config.md
  docs/tutorials/01-first-steps.md
Due: none

chore: bump version to v2.14.14
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.14.14 (#1741)
  package-lock.json
  package.json
Due: npm-audit, build-check

feat: add project logo (1024x1024 + 400x400 PNG)
  assets/mcp-adr-logo-400x400.png
  assets/mcp-adr-logo.png
Due: none
