Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

docs(changelog): backfill CHANGELOG.md v2.0.14 → v2.5.0 in Keep a Changelog format (#748)
  .github/release-drafter.yml
  CHANGELOG.md
Due: none

ci(dependabot): add auto-merge workflow for low-risk dependency updates
  .github/workflows/dependabot-auto-merge.yml
Due: none

docs(changelog): backfill CHANGELOG.md v2.0.14 → v2.5.0 in Keep a Changelog format (#748) (#782)
  .github/release-drafter.yml
  CHANGELOG.md
Due: none

docs(releases): publish RELEASES.md release policy document (#777)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASES.md
Due: none

docs(releases): publish RELEASES.md release policy document (#777) (#785)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASES.md
Due: none

ci(dependabot): tighten auto-merge scope and harden against misconfig
  .github/workflows/dependabot-auto-merge.yml
Due: none

ci(dependabot): add auto-merge workflow for low-risk dependency updates (#783)
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: bump version to v2.5.2
  package-lock.json
  package.json
Due: npm-audit, build-check

[WIP] Fix release pipeline to ensure proper GitHub tags reach npm (#808)
  .github/workflows/auto-release-on-merge.yml
Due: none

chore: bump version to v2.5.3
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): make publish gate a single source of truth (#787)
  .github/workflows/auto-release-on-merge.yml
Due: none

fix(ci): make publish gate a single source of truth (#787) (#810)
  .github/workflows/auto-release-on-merge.yml
Due: none

chore: bump version to v2.5.4
  package-lock.json
  package.json
Due: npm-audit, build-check

debug(ci): add downstream output-inspection job to pinpoint #787 skip cause
  .github/workflows/auto-release-on-merge.yml
Due: none

fix(ci): fix test-and-publish condition for reusable-workflow-call path (#787)
  .github/workflows/publish.yml
Due: none

feat: add generate_adr_todo tool with offline milestone tracking
  src/index.ts
  src/resources/todo-list-resource.ts
  src/tools/generate-adr-todo-tool.ts
  src/tools/release-tracking-tool.ts
  src/tools/tool-catalog.ts
  src/utils/adr-todo-generator.ts
  src/utils/local-milestone-store.ts
  src/utils/release-readiness-detector.ts
  tests/tools/generate-adr-todo-tool.test.ts
  tests/tools/release-tracking-tool.test.ts
  tests/utils/adr-todo-generator.test.ts
  tests/utils/local-milestone-store.test.ts
Due: eslint-check, test-suite, build-check

test(monitoring): bump recent-requests gap from 2ms to 10ms
  tests/utils/monitoring.test.ts
Due: eslint-check, test-suite, build-check

feat: add generate_adr_todo tool with offline milestone tracking (#849)
  src/index.ts
  src/resources/todo-list-resource.ts
  src/tools/generate-adr-todo-tool.ts
  src/tools/release-tracking-tool.ts
  src/tools/tool-catalog.ts
  src/utils/adr-todo-generator.ts
  src/utils/local-milestone-store.ts
  src/utils/release-readiness-detector.ts
  tests/tools/generate-adr-todo-tool.test.ts
  tests/tools/release-tracking-tool.test.ts
  tests/utils/adr-todo-generator.test.ts
  tests/utils/local-milestone-store.test.ts
  tests/utils/monitoring.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.6.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.5.5
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(lint): adopt @eslint/js explicit dep and tame ESLint 10 recommended rules
  eslint.config.js
  package-lock.json
  package.json
Due: npm-audit, eslint-check, test-suite, build-check

fix(deps): migrate tsconfig for TypeScript 6.0
  tsconfig.json
Due: build-check

fix(ci): fix test-and-publish condition for reusable-workflow-call path (#787) (#814)
  .github/workflows/publish.yml
Due: none

chore: bump version to v2.6.1
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(ci): detect workflow_call path by inputs.version, not github.event_name
  .github/workflows/publish.yml
Due: none

fix(ci): detect workflow_call path by inputs.version, not github.event_name (#863)
  .github/workflows/publish.yml
Due: none

chore(ci): add OIDC token claim diagnostic to publish.yml
  .github/workflows/publish.yml
Due: none

chore(ci): add OIDC token claim diagnostic to publish.yml (#867)
  .github/workflows/publish.yml
Due: none

chore(scripts): rebuild sync-tags-to-npm.sh as a real reconciliation tool
  scripts/sync-tags-to-npm.sh
Due: none
