Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

chore: bump version to v2.7.10
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.10 (#1503)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(adr): record ADR-023's Decision — the supported tool surface is 54
  docs/adrs/README.md
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

docs(adr): record ADR-023's Decision — the supported tool surface is 54 (#1504)
  docs/adrs/README.md
  docs/adrs/adr-023-tool-surface-scope.md
Due: none

chore: bump version to v2.7.11
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.11 (#1505)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(adr): reconcile the ledger — drift 8 -> 5
  .adr-drift-baseline
  docs/adrs/README.md
  docs/adrs/adr-017-tree-sitter-version-strategy.md
  docs/adrs/adr-018-mcp-tasks-integration-strategy.md
  src/tools/tree-sitter-code-tools.ts
Due: eslint-check, test-suite, build-check

docs(adr): reconcile the ledger — drift 8 -> 5 (#1506)
  .adr-drift-baseline
  docs/adrs/README.md
  docs/adrs/adr-017-tree-sitter-version-strategy.md
  docs/adrs/adr-018-mcp-tasks-integration-strategy.md
  src/tools/tree-sitter-code-tools.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.12
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.12 (#1508)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: promote ADR-022, supersede the v3.0 PRD, and fix a gate that lied
  docs/adrs/README.md
  docs/adrs/adr-022-adopt-madr-format.md
  docs/planning/PRD-v3.0-tool-registry-and-ai-layer.md
  scripts/check-decision-gate.sh
Due: none

docs: promote ADR-022, supersede the v3.0 PRD, and fix a gate that lied (#1509)
  docs/adrs/README.md
  docs/adrs/adr-022-adopt-madr-format.md
  docs/planning/PRD-v3.0-tool-registry-and-ai-layer.md
  scripts/check-decision-gate.sh
Due: none

chore: bump version to v2.7.13
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.13 (#1510)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(drift): a superseded ADR contradicting the code is the record working
  .adr-drift-baseline
  docs/adrs/README.md
  docs/adrs/adr-001-mcp-protocol-implementation-strategy.md
  docs/adrs/adr-006-tree-sitter-integration-strategy.md
  scripts/check-adr-drift.sh
Due: none

fix(drift): a superseded ADR contradicting the code is the record working (#1511)
  .adr-drift-baseline
  docs/adrs/README.md
  docs/adrs/adr-001-mcp-protocol-implementation-strategy.md
  docs/adrs/adr-006-tree-sitter-integration-strategy.md
  scripts/check-adr-drift.sh
Due: none

chore(governance): acceptance bar for #1415 — the only umbrella issue without one
  .repo-governor/acceptance/1415.json
Due: build-check

chore(governance): acceptance bar for #1415 — the only umbrella issue without one (#1513)
  .repo-governor/acceptance/1415.json
Due: build-check

chore: bump version to v2.7.14
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.14 (#1512)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(governance): fold #742 into #1416's acceptance bar
  .repo-governor/acceptance/1416.json
Due: build-check

docs(adr): ADR-014's citations were all dead; ADR-019 under-reported by 12 boxes
  .adr-drift-baseline
  .repo-governor/acceptance/1462.json
  .repo-governor/acceptance/1463.json
  docs/adrs/adr-014-ce-mcp-architecture.md
  docs/adrs/adr-019-vitest-migration.md
  scripts/check-adr-drift.sh
  scripts/create-github-issues.sh
  scripts/migrate-to-vitest.sh
Due: build-check

chore(governance): fold #742 into #1416's acceptance bar (#1514)
  .repo-governor/acceptance/1416.json
Due: build-check

chore: bump version to v2.7.15
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.15 (#1515)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(adr): ADR-014's citations were all dead; ADR-019 under-reported by 12 boxes (#1516)
  .adr-drift-baseline
  .repo-governor/acceptance/1462.json
  .repo-governor/acceptance/1463.json
  docs/adrs/adr-014-ce-mcp-architecture.md
  docs/adrs/adr-019-vitest-migration.md
  scripts/check-adr-drift.sh
  scripts/create-github-issues.sh
  scripts/migrate-to-vitest.sh
Due: build-check

chore: bump version to v2.7.16
  package-lock.json
  package.json
Due: npm-audit, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
