Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

chore: bump version to v2.9.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.9.0 (#1651)
  package-lock.json
  package.json
Due: npm-audit, build-check

feat(tools): migrate adr-suggestion-tool off OpenRouter, deterministically (#1647)
  .repo-governor/acceptance/1647.json
  src/tools/adr-suggestion-tool.ts
  src/utils/adr-format.ts
  tests/tools/adr-suggestion-tool.test.ts
Due: eslint-check, test-suite, build-check

feat(tools): migrate adr-suggestion-tool off OpenRouter, deterministically (#1647) (#1652)
  .repo-governor/acceptance/1647.json
  src/tools/adr-suggestion-tool.ts
  src/utils/adr-format.ts
  tests/tools/adr-suggestion-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.10.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.10.0 (#1653)
  package-lock.json
  package.json
Due: npm-audit, build-check

ci(dependabot): group /docs React packages so they bump atomically
  .github/dependabot.yml
Due: none

ci(dependabot): group /docs React packages so they bump atomically (#1654)
  .github/dependabot.yml
Due: none

chore: bump version to v2.10.1
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.10.1 (#1655)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix(tools): stop check_ai_execution_status directing CE-MCP users to buy an API key (#1630)
  src/mcp-adr-analysis-server.ts
  src/utils/prompt-execution.ts
Due: eslint-check, test-suite, build-check

test(tools): add check_ai_execution_status honesty tests (#1630)
  tests/tools/check-ai-execution-status.test.ts
Due: eslint-check, test-suite, build-check

fix(tools): stop check_ai_execution_status directing CE-MCP users to buy an API key (#1657)
  src/mcp-adr-analysis-server.ts
  src/utils/prompt-execution.ts
  tests/tools/check-ai-execution-status.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.10.2
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.10.2 (#1659)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: add CE-MCP directive for generate_research_questions, remove prompt-execution import
  src/tools/ce-mcp-tools.ts
  src/tools/research-question-tool.ts
  src/tools/tool-catalog.ts
  tests/research-question-tool.test.ts
Due: eslint-check, test-suite, build-check

fix: add CE-MCP directive for generate_research_questions, remove prompt-execution import (#1661)
  src/tools/ce-mcp-tools.ts
  src/tools/research-question-tool.ts
  src/tools/tool-catalog.ts
  tests/research-question-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.10.3
  package-lock.json
  package.json
Due: npm-audit, build-check

test: add coverage for content-masking CE-MCP directives
  tests/tools/ce-mcp-directives.test.ts
Due: eslint-check, test-suite, build-check

fix: add CE-MCP directives for content-masking tools, remove prompt-execution imports
  src/tools/ce-mcp-tools.ts
  src/tools/content-masking-tool.ts
  src/tools/tool-catalog.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.10.3 (#1662)
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: add CE-MCP directives for content-masking tools (#1631) (#1660)
  src/tools/ce-mcp-tools.ts
  src/tools/content-masking-tool.ts
  src/tools/tool-catalog.ts
  tests/tools/ce-mcp-directives.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.10.4
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.10.4 (#1663)
  package-lock.json
  package.json
Due: npm-audit, build-check

feat(ce-mcp): add validate_rules directive, remove prompt-execution from rule-generation (#1633)
  src/tools/ce-mcp-tools.ts
  src/tools/rule-generation-tool.ts
  src/tools/tool-catalog.ts
Due: eslint-check, test-suite, build-check

feat(ce-mcp): add validate_rules directive, remove prompt-execution from rule-generation (#1633) (#1664)
  src/tools/ce-mcp-tools.ts
  src/tools/rule-generation-tool.ts
  src/tools/tool-catalog.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.11.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.11.0 (#1667)
  package-lock.json
  package.json
Due: npm-audit, build-check
