Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

Fix test failures for zod v4 compatibility
  tests/tools/mcp-planning-tool.test.ts
  tests/tools/smart-git-push-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: add .documcp to gitignore and exclude playbooks from gitleaks scan
  .gitignore
  .gitleaks.toml
Due: none

fix(workflows): prevent update-dependencies job from running on PR events
  .github/workflows/dependencies.yml
  .gitleaks.toml
Due: none

fix(workflows): remove invalid dry_run input from publish.yml calls
  .github/workflows/ai-release-notes.yml
  .github/workflows/auto-release-on-merge.yml
  .github/workflows/dependabot-auto-release.yml
Due: none

chore: ignore test-generated research and context files
  .gitignore
Due: none

chore: release v2.1.12
  package-lock.json
  package.json
Due: npm-audit, build-check
