Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

npm-audit:
  name: npm audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

eslint-check:
  name: ESLint and TypeScript check
  entry: npm run lint
  language: system
  pass_filenames: false

test-suite:
  name: Run test suite
  entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
  language: system
  pass_filenames: false

build-check:
  name: Build check
  entry: npm run build
  language: system
  pass_filenames: false

refactor(tests): delete placeholder tests and fix assertions (#1477) (#1609)
  .repo-governor/acceptance/1477.json
  tests/index.test.ts
  tests/utils/environment-capability-registry.test.ts
  tests/utils/research-orchestrator-delegation.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.44
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.44 (#1625)
  package-lock.json
  package.json
Due: npm-audit, build-check

test: cover VITEST env-var branch in isTestEnvironment (#751)
  tests/utils/test-aware-defaults.test.ts
Due: eslint-check, test-suite, build-check

test: cover VITEST env-var branches in tree-sitter-analyzer (#751)
  tests/utils/tree-sitter-analyzer.test.ts
Due: eslint-check, test-suite, build-check

chore: complete Jest → Vitest migration cleanup (#751) (#1608)
  .github/copilot-instructions.md
  .github/labels.yml
  .repo-governor/acceptance/751.json
  docs/CONTRIBUTING.md
  docs/DEPENDABOT.md
  docs/TESTING_GUIDE.md
  docs/atomic-tool-template.md
  docs/development.md
  docs/how-to-guides/deploy-your-own-server.md
  docs/how-to-guides/performance-testing.md
  docs/how-to-guides/testing-guide.md
  docs/how-to-guides/tool-development.md
  docs/test-infrastructure-simplification-summary.md
  docs/testing-improvements-adr-018.md
  src/mcp-adr-analysis-server.ts
  src/utils/directory-compat.ts
  src/utils/test-aware-defaults.ts
  src/utils/tree-sitter-analyzer.ts
  tests/setup.ts
  tests/utils/esm-mock-helper.ts
  tests/utils/test-aware-defaults.test.ts
  tests/utils/tree-sitter-analyzer.test.ts
  tests/utils/tree-sitter-jest-integration.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.45
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.45 (#1626)
  package-lock.json
  package.json
Due: npm-audit, build-check

ci: add codecov.yml with patch-only gating (#1522)
  .repo-governor/acceptance/1522.json
  codecov.yml
Due: build-check

ci: add codecov.yml with patch-only gating (#1522) (#1627)
  .repo-governor/acceptance/1522.json
  codecov.yml
Due: build-check

chore: bump version to v2.7.46
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.46 (#1628)
  package-lock.json
  package.json
Due: npm-audit, build-check

chore(tools): deprecate 8 host-native tools (ADR-023 obligation)
  .repo-governor/acceptance/1638.json
  CHANGELOG.md
  docs/reference/api-reference.md
  src/tools/mcp-tool-schemas.ts
  src/tools/tool-catalog.ts
Due: eslint-check, test-suite, build-check

chore(tools): deprecate 8 host-native tools (ADR-023 obligation) (#1639)
  .repo-governor/acceptance/1638.json
  CHANGELOG.md
  docs/reference/api-reference.md
  src/tools/mcp-tool-schemas.ts
  src/tools/tool-catalog.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.7.47
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.47 (#1640)
  package-lock.json
  package.json
Due: npm-audit, build-check

docs(adr): add ADR-026 (tool-call best-practices) + tool-surface map
  docs/adrs/README.md
  docs/adrs/adr-026-tool-call-best-practices-conformance.md
  docs/reference/tool-surface-map.md
Due: none

docs(adr): add ADR-026 (tool-call best-practices) + tool-surface map (#1643)
  docs/adrs/README.md
  docs/adrs/adr-026-tool-call-best-practices-conformance.md
  docs/reference/tool-surface-map.md
Due: none

chore: bump version to v2.7.48
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.7.48 (#1644)
  package-lock.json
  package.json
Due: npm-audit, build-check

feat(tools): migrate adr-validation-tool off the OpenRouter path (CE-MCP Batch 1, reduced)
  .repo-governor/acceptance/1629.json
  src/tools/adr-validation-tool.ts
Due: eslint-check, test-suite, build-check

test(adr-validation): cover the deterministic validateAdr path (clears patch coverage)
  tests/tools/adr-validation-tool.test.ts
Due: eslint-check, test-suite, build-check

feat(tools): migrate adr-validation off OpenRouter (CE-MCP Batch 1, reduced) (#1642)
  .repo-governor/acceptance/1629.json
  src/tools/adr-validation-tool.ts
  tests/tools/adr-validation-tool.test.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.8.0
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.8.0 (#1649)
  package-lock.json
  package.json
Due: npm-audit, build-check

feat(adr): add ADR format reader + Nygard->MADR converter (#1466)
  .repo-governor/acceptance/1466.json
  src/utils/adr-discovery.ts
  src/utils/adr-format.ts
  tests/utils/adr-format.test.ts
Due: eslint-check, test-suite, build-check

refactor(adr): move extractAdrFields into adr-format.ts so the module is wired in
  src/utils/adr-discovery.ts
  src/utils/adr-format.ts
Due: eslint-check, test-suite, build-check

feat(adr): ADR format reader + Nygard→MADR converter (#1466) (#1650)
  .repo-governor/acceptance/1466.json
  src/utils/adr-discovery.ts
  src/utils/adr-format.ts
  tests/utils/adr-format.test.ts
Due: eslint-check, test-suite, build-check

Path conditions:
  npm-audit: any of: package\.json
  eslint-check: any of: \.(ts|js)$
  test-suite: any of: \.(ts|js)$
  build-check: any of: \.(ts|js|json)$
