Repository tosin2013/mcp-adr-analysis-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, eslint-check, test-suite, build-check

.pre-commit-config.yaml:

# Pre-commit configuration for MCP ADR Analysis Server
# See https://pre-commit.com for more information
repos:
  # Pre-commit hooks for general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.txt)$
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Secret detection with gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # TypeScript and JavaScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(ts|js|json|md|yaml|yml)$
        exclude: ^(dist/|node_modules/|coverage/|\.mcp-adr-cache/)

  # Security scanning for Node.js dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit --audit-level moderate
        language: system
        files: package\.json
        pass_filenames: false

      # ESLint and TypeScript checking
      - id: eslint-check
        name: ESLint and TypeScript check
        entry: npm run lint
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Run tests (but allow failures for performance tests)
      - id: test-suite
        name: Run test suite
        entry: bash -c 'npm run test || echo "Some tests failed but continuing"'
        language: system
        files: \.(ts|js)$
        pass_filenames: false

      # Build check
      - id: build-check
        name: Build check
        entry: npm run build
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

chore: bump version to v2.2.2
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: resolve pattern validation and Release Drafter CI issues
  .github/workflows/release-drafter.yml
  patterns/infrastructure/firebase-emulators.yaml
Due: none

fix: remove duplicate search_tools registration in ListToolsRequestSchema
  src/index.ts
Due: eslint-check, test-suite, build-check

fix: update docs-noob-tester workflow to match actual doc infrastructure
  .github/copilot-instructions.md
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-noob-tester.md
Due: none

fix: add node ecosystem to gh-aw network allowlist for agentic workflows
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-executor-integration.md
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/deployment-pattern-validation.md
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-noob-tester.md
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/esm-module-validation.md
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/knowledge-graph-validation.md
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-server-validation.md
  .github/workflows/mcp-tool-checker.lock.yml
  .github/workflows/mcp-tool-checker.md
Due: none

fix(docs): resolve documentation issues and bump to v2.3.0
  README.md
  docs/QUICK_START.md
  docs/reference/api-reference-updated.md
  docs/reference/index.md
  docs/technical.md
  docs/tutorials/01-first-steps.md
  docs/tutorials/03-advanced-analysis.md
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: add MCP Registry metadata for official registry submission
  .github/workflows/publish-mcp-registry.yml
  package.json
  server.json
Due: npm-audit, build-check

chore: add MCP Registry metadata for official registry submission (#662)
  .github/workflows/publish-mcp-registry.yml
  package.json
  server.json
Due: npm-audit, build-check

chore: bump version to v2.3.1
  package-lock.json
  package.json
Due: npm-audit, build-check

chore: bump version to v2.4.0 for MCP Registry publishing
  package-lock.json
  package.json
  server.json
  tests/integration/ce-mcp-migration.test.ts
Due: npm-audit, eslint-check, test-suite, build-check

chore: bump version to v2.4.0 for MCP Registry publishing (#666)
  package-lock.json
  package.json
  server.json
  tests/integration/ce-mcp-migration.test.ts
Due: npm-audit, eslint-check, test-suite, build-check

chore: bump version to v2.4.1
  package-lock.json
  package.json
Due: npm-audit, build-check

docs: add Fronteir AI hosted deployment link
  README.md
Due: none

feat: add release_tracking MCP tool for ADR-driven release management
  src/index.ts
  src/resources/release-history-resource.ts
  src/tools/release-tracking-tool.ts
  src/tools/tool-catalog.ts
  src/types/tool-arguments.ts
  src/utils/release-tracker.ts
Due: eslint-check, test-suite, build-check

chore: bump version to v2.5.0 and fix npm audit vulnerabilities
  package-lock.json
  package.json
Due: npm-audit, build-check

fix: regenerate gh-aw lock files for v0.68.3 and fix docs-site-validator config
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ai-executor-integration.lock.yml
  .github/workflows/ai-release-notes-agent.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/deployment-pattern-validation.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-site-validator.lock.yml
  .github/workflows/docs-site-validator.md
  .github/workflows/esm-module-validation.lock.yml
  .github/workflows/knowledge-graph-validation.lock.yml
  .github/workflows/mcp-server-validation.lock.yml
  .github/workflows/mcp-tool-checker.lock.yml
Due: build-check

Fix CI failures: resolve npm dependency vulnerabilities and update security docs (#691)
  SECURITY.md
Due: none

fix(ci): fix npm publish workflow OIDC version check
  .github/workflows/publish.yml
Due: none

feat(adr): auto-save and index generated ADRs for next release
  src/tools/adr-suggestion-tool.ts
  src/types/knowledge-graph-schemas.ts
  src/utils/knowledge-graph-manager.ts
  tests/tools/adr-suggestion-auto-index.test.ts
Due: eslint-check, test-suite, build-check

Docs noob pass: align onboarding with TypeDoc workflow, fix dead links/stubs, and normalize MCP examples (#695)
  README.md
  docs/QUICK_START.md
  docs/explanation/index.md
  docs/how-to-guides/ape-usage-guide.md
  docs/how-to-guides/index.md
  docs/how-to-guides/knowledge-generation-usage-guide.md
  docs/how-to-guides/reflexion-usage-guide.md
  docs/how-to/deploy-to-production.md
  docs/how-to/index.md
  docs/reference/api-documentation.md
  docs/reference/index.md
  docs/tutorials/01-first-steps.md
  docs/tutorials/security-focused-workflow.md
  typedoc.json
Due: build-check

chore: bump version to v2.5.1
  package-lock.json
  package.json
Due: npm-audit, build-check
